# Análise Cartola FC

In [1]:
import pandas as pd
import os 
import numpy as np
import seaborn as sns
sns.set(color_codes=True)
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 50)

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Dados disponiveis
###### Os dados de 2018 estão em uma estrutura um pouco diferente
1. Atletas.csv   (Data of each player)
    <span style="color:blue">  
    - Columns: ID, Apelido, ClubeID, PosicaoID
2. Clubes.csv    (Data of each Team) 
    <span style="color:blue">  
    - Columns: ID,	Nome,	Abreviacao,	Slug
3. Partidas.csv  (Data of each game)
    <span style="color:blue">  
    - Columns: ID,"Rodada","CasaID","VisitanteID","PlacarCasa","PlacarVisitante","Resultado"
4. Posicoes.csv  (Table with all positions possible for a player)
    <span style="color:blue">  
    - Columns: ID, Nome, Abreviacao
5. Scouts.csv    (Game data and observations, points etc..)
<span style="color:blue">  
    - Columns: Rodada,"ClubeID","AtletaID","Participou","Pontos","PontosMedia",
    "Preco","PrecoVariacao","FS","PE","A","FT","FD","FF","G","I","PP",
    "RB","FC","GC","CA","CV","SG","DD","DP","GS"
6. Status.csv    (Table with all the possible status for a player - Suspenso, Contundido, etc. - )
  <span style="color:blue">  
  - Columns: ID, Nome

In [3]:
0.952228**2

0.906738163984

In [4]:
os.getcwd()
pd.options.display.max_rows = 999

In [5]:
posicoes = {1:'gol', 2:'lat', 3:'zag', 4:'mei', 5:'ata', 6:'tec'}

In [6]:

# lendo a base de cada um dos anos
print('Análise do ano de 2014 \n \n \n')
players_2014 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2014\\2014_jogadores.csv')
print('Colunas:', '\n', players_2014.columns, '\n')
# this data have all player on Cartola dabase 2014, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',players_2014.head(), '\n')
print('Tamanaho da base: \n ', players_2014.shape, '\n')
print('Quantidade de duplicados: \n', players_2014.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de posições: \n', players_2014.PosicaoID.value_counts(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes: \n', len(players_2014.ClubeID.value_counts()),  '\n') # twenty teams
players_2014.PosicaoID = players_2014.PosicaoID.map(posicoes)
# We

Análise do ano de 2014



Colunas:
 Index(['ID', 'Apelido', 'ClubeID', 'PosicaoID'], dtype='object')

Base:
       ID           Apelido  ClubeID  PosicaoID
0  80583        Lucas Lima      277          4
1  72079      Bruno Cortez      288          2
2  86189          Mosquito      293          5
3  68938  Giovanni Augusto      316          4
4  68974            Marcão      316          5

Tamanaho da base:
  (1033, 4)

Quantidade de duplicados:
 False    1033
dtype: int64

Quantidade de posições:
 4    347
5    226
2    160
3    156
1    101
6     43
Name: PosicaoID, dtype: int64

Quantidade de clubes:
 20

In [7]:
# lendo a base de cada um dos anos
print('Análise do ano de 2015 \n \n \n')
players_2015 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2015\\2015_jogadores.csv')
print('Colunas:', '\n', players_2015.columns, '\n')
# this data have all player on Cartola dabase 2015, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',players_2015.head(), '\n')
print('Tamanaho da base: \n ', players_2015.shape, '\n')
print('Quantidade de duplicados: \n', players_2015.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de posições: \n', players_2015.PosicaoID.value_counts(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes: \n', len(players_2015.ClubeID.value_counts()),  '\n') # twenty teams
players_2015.PosicaoID = players_2015.PosicaoID.map(posicoes)
# We

Análise do ano de 2015



Colunas:
 Index(['ID', 'Apelido', 'ClubeID', 'PosicaoID'], dtype='object')

Base:
       ID          Apelido  ClubeID  PosicaoID
0  85882            Diogo      285          2
1  73074  Rafael Copetti       267          1
2  72167          Mazinho      264          5
3  38162             Fred      266          5
4  75295   Paolo Guerrero      264          5

Tamanaho da base:
  (1109, 4)

Quantidade de duplicados:
 False    1109
dtype: int64

Quantidade de posições:
 4    360
5    254
2    170
3    168
1     97
6     60
Name: PosicaoID, dtype: int64

Quantidade de clubes:
 20

In [8]:
players_2015[players_2015['PosicaoID'].isnull()]

Empty DataFrame
Columns: [ID, Apelido, ClubeID, PosicaoID]
Index: []

#### Os jogadores do coritiba estão duplicados como jogadores do corinthians


     - O código do coritiba é 294
     - O código do corinthians é 264
     *** O processamento será eliminar os jogadores que estiverem duplicado com corinthians e coritiba, deixando apenas informação do coritiba

In [9]:
players_2015.drop_duplicates(players_2015.columns.difference(['ClubeID']), keep='last', inplace=True)

In [10]:
print('Análise do ano de 2016 \n \n \n')
# lendo a base de cada um dos anos
players_2016 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2016\\2016_jogadores.csv')
print('Colunas:', '\n', players_2016.columns, '\n')
# this data have all player on Cartola dabase 2016, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',players_2016.head(), '\n')
print('Tamanaho da base: \n ', players_2016.shape, '\n')
print('Quantidade de duplicados: \n', players_2016.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de posições: \n', players_2016.PosicaoID.value_counts(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes: \n', len(players_2016.ClubeID.value_counts()),  '\n') # twenty teams
players_2016.PosicaoID = players_2016.PosicaoID.map(posicoes)
# We

Análise do ano de 2016



Colunas:
 Index(['ID', 'Apelido', 'ClubeID', 'PosicaoID'], dtype='object')

Base:
       ID         Apelido  ClubeID  PosicaoID
0  37623  Rafael Marques      294          3
1  72382      Marquinhos      277          5
2  95830    Emerson Cris      315          6
3  81794  Cláudio Prates      327          6
4  37837        Cristian      303          4

Tamanaho da base:
  (1001, 4)

Quantidade de duplicados:
 False    1001
dtype: int64

Quantidade de posições:
 4    339
5    227
3    152
2    139
1     97
6     47
Name: PosicaoID, dtype: int64

Quantidade de clubes:
 20

In [11]:
print('Análise do ano de 2017 \n \n \n')
# lendo a base de cada um dos anos
players_2017 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2017\\2017_jogadores.csv')
print('Colunas:', '\n', players_2017.columns, '\n')
# this data have all player on Cartola dabase 2017, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',players_2017.head(), '\n')
print('Tamanaho da base: \n ', players_2017.shape, '\n')
print('Quantidade de duplicados: \n', players_2017.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de posições: \n', players_2017.PosicaoID.value_counts(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes: \n', len(players_2017.ClubeID.value_counts()),  '\n') # twenty teams
players_2017.PosicaoID = players_2017.PosicaoID.map(posicoes)
# We

Análise do ano de 2017



Colunas:
 Index(['AtletaID', 'Apelido', 'ClubeID', 'PosicaoID'], dtype='object')

Base:
    AtletaID              Apelido  ClubeID  PosicaoID
0     36540                 Juan      262          3
1     36612           Zé Roberto      275          2
2     36940  Oswaldo de Oliveira      282          6
3     36943        Paulo Autuori      293          6
4     37245        Guto Ferreira      315          6

Tamanaho da base:
  (751, 4)

Quantidade de duplicados:
 False    751
dtype: int64

Quantidade de posições:
 4    261
5    181
3    118
2    105
1     49
6     37
Name: PosicaoID, dtype: int64

Quantidade de clubes:
 20

In [12]:
print('Análise do ano de 2018 \n \n \n')
# lendo a base de cada um dos anos
players_2018 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2018\\2018_jogadores.csv')
print('Colunas:', '\n', players_2018.columns, '\n')
# this data have all player on Cartola dabase 2018, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',players_2018.head(), '\n')
print('Tamanaho da base: \n ', players_2018.shape, '\n')
print('Quantidade de duplicados: \n', players_2018.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de posições: \n', players_2018['atletas.posicao_id'].value_counts(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes: \n', len(players_2018['atletas.clube.id.full.name'].value_counts()),  '\n') # twenty teams
# We

Análise do ano de 2018



Colunas:
 Index(['atletas.atleta_id', 'atletas.apelido', 'atletas.clube.id.full.name',
       'atletas.posicao_id', 'atletas.foto'],
      dtype='object')

Base:
    atletas.atleta_id    atletas.apelido atletas.clube.id.full.name  \
0              37717  Fernando Henrique                      Ceará
1              37657        Edu Dracena                  Palmeiras
2              36540               Juan                   Flamengo
3              37281       Mano Menezes                   Cruzeiro
4              37306      Gilson Kleina                Chapecoense

  atletas.posicao_id                                       atletas.foto
0            Goleiro  https://s.glbimg.com/es/sde/f/2018/05/25/7ca44...
1           Zagueiro  https://s.glbimg.com/es/sde/f/2017/04/18/68cf3...
2           Zagueiro  https://s.glbimg.com/es/sde/f/2018/05/04/a27fb...
3            Técnico  https://s.glbimg.com/es/sde/f/2018/05/18/b67ea...
4            Técnico  https://s.glbimg.com/es/sde/f/2018/05/24/1d41c...

Tamanaho da base:
  (961, 5)

Quantidade de duplicados:
 False    961
dtype: int64

Quantidade de posições:
 Meia        300
Atacante    228
Zagueiro    154
Lateral     143
Goleiro      97
Técnico      39
Name: atletas.posicao_id, dtype: int64

Quantidade de clubes:
 20

In [13]:
players_2018.columns = ['AtletaID', 'Apelido', 'Clube', 'Posicao', 'foto']
players_2018 = players_2018.drop('foto', axis =1)

In [14]:
players_2018.head()

   AtletaID            Apelido        Clube   Posicao
0     37717  Fernando Henrique        Ceará   Goleiro
1     37657        Edu Dracena    Palmeiras  Zagueiro
2     36540               Juan     Flamengo  Zagueiro
3     37281       Mano Menezes     Cruzeiro   Técnico
4     37306      Gilson Kleina  Chapecoense   Técnico

### Como podemos notar os dados de 2018 estão em uma estrutura diferente, então deixaremos na mesma estrutura.


- Apagar coluna foto do atleta
- Trocar coluna com nome do clube por ID do clube
- Trocar coluna com nome da posição por id da posição
- Gerar coluna com os anos e unir as bases

In [15]:
def padronizanome(x):
    a = x.split('-')
    if len(a)==2:
        return a[0].title() +'-' + a[1].upper()
    return a[0].title()

In [16]:
clubes_2014 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2014\\2014_times.csv')
clubes_2014.Nome = clubes_2014.Nome.apply(lambda x: padronizanome(x))
clubes_2014.sample(5)

     ID           Nome Abreviacao           Slug
15  292          Sport        SPO          sport
11  285  Internacional        INT  internacional
5   275      Palmeiras        PAL      palmeiras
18  315    Chapecoense        CHA    chapecoense
13  288       Criciúma        CRI       criciuma

In [17]:
clubes_2014

     ID           Nome Abreviacao           Slug
0   262       Flamengo        FLA       flamengo
1   263       Botafogo        BOT       botafogo
2   264    Corinthians        COR    corinthians
3   265          Bahia        BAH          bahia
4   266     Fluminense        FLU     fluminense
5   275      Palmeiras        PAL      palmeiras
6   276      São Paulo        SAO      sao-paulo
7   277         Santos        SAN         santos
8   282    Atlético-MG        CAM    atletico-mg
9   283       Cruzeiro        CRU       cruzeiro
10  284         Grêmio        GRE         gremio
11  285  Internacional        INT  internacional
12  287        Vitória        VIT        vitoria
13  288       Criciúma        CRI       criciuma
14  290          Goiás        GOI          goias
15  292          Sport        SPO          sport
16  293    Atlético-PR        CAP    atletico-pr
17  294       Coritiba        CFC       coritiba
18  315    Chapecoense        CHA    chapecoense
19  316    Figueirense        FIG    figueirense

In [18]:
clubes_2015 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2015\\2015_times.csv')
clubes_2015.sample(5)

     ID         Nome Abreviacao         Slug
18  316  Figueirense        fig  figueirense
3   267        Vasco        vas        vasco
11  290        Goiás        goi        goias
19  317    Joinville        jec    joinville
13  293  Atlético-PR        cap  atletico-pr

In [19]:
clubes_2016 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2016\\2016_times.csv')
clubes_2016.sample(5)

     ID         Nome Abreviacao         Slug
7   282  Atlético-MG        CAM  Atletico-MG
6   277       Santos        SAN       Santos
2   264  Corinthians        COR  Corinthians
11  287      Vitória        VIT      Vitoria
5   276    São Paulo        SAO    Sao-Paulo

In [20]:
clubes_2017 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2017\\2017_times.csv', sep = ';')
clubes_2017.sample(5)

     ID         Nome Abreviacao              Slug
9   283     Cruzeiro        CRU     Cruzeiro - MG
11  266   Fluminense        FLU   Fluminense - RJ
15  277       Santos        SAN       Santos - SP
6   315  Chapecoense        CHA  Chapecoense - SC
14  303  Ponte Preta        PON  Ponte Preta - SP

In [21]:
#players_2014 = players_2014.merge(clubes_2014.iloc[:,:2],'inner', left_on='ClubeID', right_on='ID')
players_2014 = players_2014.drop('ClubeID', axis=1)
players_2014.rename(columns= {'PosicaoID': 'Posicao', 'ID' : 'AtletaID'}, inplace=True)
players_2014.sample(5)

     AtletaID        Apelido Posicao
104     68979       Giovanni     gol
9       77579     Dellatorre     ata
938     88367          Chico     ata
641     41126   Rodrigo Gral     ata
812     62976  Everton Silva     lat

In [22]:
#players_2015 = players_2015.merge(clubes_2015.iloc[:,:2],'inner', left_on='ClubeID', right_on='ID')
#players_2015 = players_2015.drop('ClubeID', axis=1)
players_2015.rename(columns= {'PosicaoID': 'Posicao', 'ID' : 'AtletaID'}, inplace=True)
players_2015.sample(5)

      AtletaID            Apelido  ClubeID Posicao
380      63003           Uelliton      314     mei
914      91712      Matheus Alves      290     gol
1082     92841  Fernando Medeiros      277     mei
827      90290               Jajá      315     mei
1026     73540            Rogério      276     ata

In [23]:
#players_2016 = players_2016.merge(clubes_2016.iloc[:,:2],'inner', left_on='ClubeID', right_on='ID')
players_2016 = players_2016.drop('ClubeID', axis=1)
players_2016.rename(columns= {'PosicaoID': 'Posicao', 'ID' : 'AtletaID'}, inplace=True)
players_2016.sample(5)

     AtletaID     Apelido Posicao
932     96591  Renan Lodi     lat
498     93885      Maktom     mei
656     62047        Jean     mei
123     78605     Gabriel     mei
306     70222       Sidão     gol

In [24]:
#players_2017 = players_2017.merge(clubes_2017.iloc[:,:2],'inner', left_on='ClubeID', right_on='ID')
players_2017 = players_2017.drop('ClubeID', axis=1)
players_2017.rename(columns= {'PosicaoID': 'Posicao', 'ID' : 'AtletaID'}, inplace=True)
players_2017.sample(5)

     AtletaID     Apelido Posicao
503     87437   Caíque Sá     lat
687     97443    Romercio     zag
698     97653      Murilo     zag
699     97769        Yuri     ata
440     84855  Raul Prata     lat

# Unir as bases de clube para ver a troca de ID do clube

In [25]:
atletas = pd.DataFrame()
for i in range(2014,2019):
    aux = 'players_'+str(i)
    globals()[aux]['Ano'] = i
    atletas = atletas.append(globals()[aux])

In [26]:
atletas.head()

    Ano           Apelido  AtletaID Clube  ClubeID Posicao
0  2014        Lucas Lima     80583   NaN      nan     mei
1  2014      Bruno Cortez     72079   NaN      nan     lat
2  2014          Mosquito     86189   NaN      nan     ata
3  2014  Giovanni Augusto     68938   NaN      nan     mei
4  2014            Marcão     68974   NaN      nan     ata

In [27]:
atletas.to_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\Atletas.csv')

In [28]:
atletas = atletas.drop(['Clube', 'Posicao'], axis =1)

# Base de atletas pronto

# 2º Parte  - base de scouts

In [29]:
cols_scouts_def = ['CA','CV','DD','DP','FC','GC','GS','RB','SG'] # alphabetical order
cols_scouts_atk = ['A','FD','FF','FS','FT','G','I','PE','PP'] # alphabetical order
cols_scouts = cols_scouts_def + cols_scouts_atk

### 2014

In [30]:
# lendo a base de cada um dos anos
print('Análise do ano de 2014 \n \n \n')
scouts_2014 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2014\\2014_scouts_raw.csv', sep=';', decimal=',')
print('Colunas:', '\n', scouts_2014.columns, '\n')
# this data have all player on Cartola dabase 2014, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',scouts_2014.head(), '\n')
print('Tamanaho da base: \n ', scouts_2014.shape, '\n')
print('Quantidade de duplicados: \n', scouts_2014.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de Atletas Missing: \n', scouts_2014.Atleta.isnull().sum(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes Missing: \n', scouts_2014.Clube.isnull().sum(),  '\n') # twenty teams
print('Quantidade de jogadores por rodada: ', scouts_2014.Rodada.value_counts().sort_index())
scouts_2014['Scouts'] = scouts_2014[cols_scouts].sum(axis=1)
scouts_2014.sort_values(by=['Atleta','Rodada', 'Scouts', 'Pontos'],inplace=True)
scouts_2014.drop_duplicates(subset=['Atleta','Rodada'],keep='last', inplace=True)
print("RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL")
# We

Análise do ano de 2014



Colunas:
 Index(['Atleta', 'Rodada', 'Clube', 'Participou', 'Posicao', 'Jogos', 'Pontos',
       'PontosMedia', 'Preco', 'PrecoVariacao', 'Partida', 'Mando', 'Titular',
       'Substituido', 'TempoJogado', 'Nota', 'FS', 'PE', 'A', 'FT', 'FD', 'FF',
       'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP', 'GS'],
      dtype='object')

Base:
    Atleta  Rodada   Clube  Participou  Posicao  Jogos  Pontos  PontosMedia  \
0   36443       0     nan           0      nan      0   0.000        0.000
1   36443       1 285.000           1    1.000      1   5.000        5.000
2   36443       2 285.000           1    1.000      2  -3.000        1.000
3   36443       3 285.000           1    1.000      3  -2.600       -0.200
4   36443       4 285.000           1    1.000      4   4.000        0.850

   Preco  PrecoVariacao    Partida  Mando  Titular  Substituido  TempoJogado  \
0  9.000          0.000        nan      0      nan            0          nan
1 10.600          1.600 179879.000      1    1.000            0        1.000
2  8.270         -2.330 179882.000      0    1.000            0        1.000
3  6.810         -1.460 179904.000      1    1.000            0        1.000
4  7.960          1.150 179922.000      1    1.000            0        1.000

   Nota  FS  PE  A  FT  FD  FF  G  I  PP  RB  FC  GC  CA  CV  SG  DD  DP  GS
0   nan   0   0  0   0   0   0  0  0   0   0   0   0   0   0   0   0   0   0
1 6.000   0   0  0   0   0   0  0  0   0   0   0   0   0   0   1   0   0   0
2 5.000   2   0  0   0   0   0  0  0   0   0   0   0   0   0   0   0   0   2
3 6.000   0   2  0   0   0   0  0  0   0   0   0   0   0   0   0   0   0   1
4 6.500   0   0  0   0   0   0  0  0   0   0   0   0   0   0   0   2   0   1

Tamanaho da base:
  (31567, 34)

Quantidade de duplicados:
 False    31567
dtype: int64

Quantidade de Atletas Missing:
 0

Quantidade de clubes Missing:
 15229

Quantidade de jogadores por rodada:  0     773
1     801
2     806
3     803
4     810
5     812
6     813
7     811
8     811
9     848
10    806
11    817
12    809
13    809
14    818
15    810
16    810
17    818
18    815
19    803
20    805
21    810
22    809
23    815
24    812
25    806
26    807
27    805
28    813
29    808
30    808
31    810
32    813
33    809
34    810
35    814
36    800
37    803
38    807
Name: Rodada, dtype: int64
RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL

In [31]:
print('Tamanho da base de 2014 antes da limpeza', scouts_2014.shape)
scouts_2014 = scouts_2014[(scouts_2014.PrecoVariacao  != 0) | (scouts_2014.Pontos != 0)]
scouts_2014 = scouts_2014[scouts_2014.Rodada>0]
scouts_2014 = scouts_2014[scouts_2014.Scouts!=0]
print('Tamanho da base com apenas jogadores que jogaram:',scouts_2014.shape)
scouts_2014.Posicao =  scouts_2014.Posicao.map(posicoes)
scouts_2014['Ano'] = 2014
# Eliminando jogadores com nan no nome do clube e que não participaram de jogos

scouts_2014_limpo = scouts_2014[~scouts_2014.Clube.isnull() ]
scouts_2014_limpo = scouts_2014_limpo.drop(['Partida','Mando', 'Titular', 'Substituido', 'TempoJogado', 'Nota', 'Participou'], axis=1)
scouts_2014_limpo = scouts_2014_limpo.rename(columns={'Atleta': 'AtletaID', 'Clube': 'ClubeID'})
print('Tamanho da base limpa:', scouts_2014_limpo.shape); print('Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos ', 20*14*38)

Tamanho da base de 2014 antes da limpeza (31567, 35)
Tamanho da base com apenas jogadores que jogaram: (10108, 35)
Tamanho da base limpa: (10108, 29)
Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos  10640

In [32]:
scouts_2014_limpo.head()

,AtletaID,Rodada,ClubeID,Posicao,Jogos,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano
1,36443,1,285.000,gol,1,5.000,5.000,10.600,1.600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2014
2,36443,2,285.000,gol,2,-3.000,1.000,8.270,-2.330,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,2014
3,36443,3,285.000,gol,3,-2.600,-0.200,6.810,-1.460,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,2014
4,36443,4,285.000,gol,4,4.000,0.850,7.960,1.150,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,3,2014
5,36443,5,285.000,gol,5,5.000,1.680,8.610,0.650,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2014

### Acrescentandoo clube do jogador

In [33]:
scouts_2014_limpo = scouts_2014_limpo.merge(players_2014, on = ['AtletaID','Ano'])
scouts_2014_limpo.drop('Posicao_y', axis=1, inplace=True)
scouts_2014_limpo.rename(columns={'Posicao_x':'Posicao'}, inplace=True)

In [34]:
scouts_2014_limpo = scouts_2014_limpo.merge(clubes_2014.iloc[:,:2], left_on='ClubeID', right_on='ID').rename(columns = {'Nome':'Clube'})

In [35]:
scouts_2014_limpo.head(10)

,AtletaID,Rodada,ClubeID,Posicao,Jogos,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano,Apelido,ID,Clube
0,36443,1,285.000,gol,1,5.000,5.000,10.600,1.600,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2014,Dida,285,Internacional
1,36443,2,285.000,gol,2,-3.000,1.000,8.270,-2.330,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,2014,Dida,285,Internacional
2,36443,3,285.000,gol,3,-2.600,-0.200,6.810,-1.460,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,2014,Dida,285,Internacional
3,36443,4,285.000,gol,4,4.000,0.850,7.960,1.150,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,3,2014,Dida,285,Internacional
4,36443,5,285.000,gol,5,5.000,1.680,8.610,0.650,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,2014,Dida,285,Internacional
5,36443,6,285.000,gol,6,1.200,1.600,8.020,-0.590,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,2,0,1,6,2014,Dida,285,Internacional
6,36443,7,285.000,gol,7,-3.300,0.900,6.750,-1.270,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3,5,2014,Dida,285,Internacional
7,36443,8,285.000,gol,8,3.000,1.160,7.550,0.800,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,2,2014,Dida,285,Internacional
8,36443,9,285.000,gol,9,-1.500,0.860,6.710,-0.840,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2014,Dida,285,Internacional
9,36443,10,285.000,gol,10,-4.000,0.370,6.010,-0.700,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2014,Dida,285,Internacional

In [36]:
scouts_2014_limpo[cols_scouts] = scouts_2014_limpo[cols_scouts].replace(0, np.nan)

In [37]:
scouts_2014_limpo.head(10)

,AtletaID,Rodada,ClubeID,Posicao,Jogos,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano,Apelido,ID,Clube
0,36443,1,285.000,gol,1,5.000,5.000,10.600,1.600,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,1,2014,Dida,285,Internacional
1,36443,2,285.000,gol,2,-3.000,1.000,8.270,-2.330,2.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2.000,4,2014,Dida,285,Internacional
2,36443,3,285.000,gol,3,-2.600,-0.200,6.810,-1.460,nan,2.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,3,2014,Dida,285,Internacional
3,36443,4,285.000,gol,4,4.000,0.850,7.960,1.150,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2.000,nan,1.000,3,2014,Dida,285,Internacional
4,36443,5,285.000,gol,5,5.000,1.680,8.610,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,1,2014,Dida,285,Internacional
5,36443,6,285.000,gol,6,1.200,1.600,8.020,-0.590,nan,1.000,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,1.000,nan,nan,2.000,nan,1.000,6,2014,Dida,285,Internacional
6,36443,7,285.000,gol,7,-3.300,0.900,6.750,-1.270,nan,1.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,3.000,5,2014,Dida,285,Internacional
7,36443,8,285.000,gol,8,3.000,1.160,7.550,0.800,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,1.000,nan,nan,nan,2,2014,Dida,285,Internacional
8,36443,9,285.000,gol,9,-1.500,0.860,6.710,-0.840,1.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,2,2014,Dida,285,Internacional
9,36443,10,285.000,gol,10,-4.000,0.370,6.010,-0.700,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,2.000,2,2014,Dida,285,Internacional

In [38]:
scouts_2014_limpo.describe()

,AtletaID,Rodada,Jogos,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano,ID
count,10108.000,10108.000,10108.000,10108.000,10108.000,10108.000,10108.000,6078.000,8107.000,563.000,174.000,2041.000,2745.000,749.000,1150.000,19.000,5243.000,6377.000,25.000,1624.000,79.000,1314.000,555.000,13.000,507.000,10108.000,10108.000,10108.000
mean,62730.820,19.561,11.472,2.728,2.708,8.078,0.004,1.909,2.890,1.064,1.011,1.193,1.275,1.097,1.307,1.000,1.828,1.909,1.000,1.001,1.000,1.000,1.914,1.000,1.671,7.005,2014.000,282.863
std,16963.951,10.939,8.154,4.204,2.053,5.103,1.253,1.199,1.918,0.259,0.107,0.470,0.582,0.319,0.655,0.000,1.138,1.139,0.000,0.035,0.000,0.000,1.068,0.000,0.891,3.980,0.000,14.973
min,36443.000,1.000,1.000,-12.000,-12.000,0.760,-7.240,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2014.000,262.000
25%,49651.000,10.000,5.000,-0.100,1.370,4.050,-0.650,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,2014.000,266.000
50%,68873.000,20.000,10.000,1.700,2.600,6.950,-0.060,2.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,1.000,1.000,1.000,1.000,2.000,1.000,1.000,7.000,2014.000,284.000
75%,78117.000,29.000,17.000,5.000,3.840,11.380,0.590,2.000,4.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,2.000,1.000,1.000,1.000,1.000,2.000,1.000,2.000,10.000,2014.000,292.000
max,89932.000,38.000,38.000,31.900,22.100,29.610,14.800,10.000,17.000,3.000,2.000,4.000,7.000,3.000,7.000,1.000,9.000,10.000,1.000,2.000,1.000,1.000,7.000,1.000,6.000,31.000,2014.000,316.000

### 2015

In [39]:
# lendo a base de cada um dos anos
print('Análise do ano de 2015 \n \n \n')
scouts_2015 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2015\\2015_scouts_raw.csv')
print('Colunas:', '\n', scouts_2015.columns, '\n')
# this data have all player on Cartola dabase 2015, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',scouts_2015.head(), '\n')
print('Tamanaho da base: \n ', scouts_2015.shape, '\n')
print('Quantidade de duplicados: \n', scouts_2015.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de Atletas Missing: \n', scouts_2015.AtletaID.isnull().sum(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes Missing: \n', scouts_2015.ClubeID.isnull().sum(),  '\n') # twenty teams
scouts_2015['Scouts'] = scouts_2015[cols_scouts].sum(axis=1)
scouts_2015.sort_values(by=['AtletaID','Rodada', 'Scouts', 'Pontos'],inplace=True)
scouts_2015.drop_duplicates(subset=['AtletaID','Rodada'],keep='last', inplace=True)
print('Quantidade de jogadores por rodada: ', scouts_2015.Rodada.value_counts().sort_index())
print("RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL")
# We

Análise do ano de 2015



Colunas:
 Index(['A', 'Ano', 'AtletaID', 'CA', 'CV', 'ClubeID', 'DD', 'DP', 'FC', 'FD',
       'FF', 'FS', 'FT', 'G', 'GC', 'GS', 'I', 'Jogos', 'PE', 'PP',
       'Participou', 'Pontos', 'PontosMedia', 'Preco', 'PrecoVariacao', 'RB',
       'Rodada', 'SG', 'Scouts'],
      dtype='object')

Base:
       A  Ano  AtletaID    CA    CV  ClubeID    DD    DP    FC    FD    FF  \
0 0.000  nan     36443 0.000 0.000      285 0.000 0.000 0.000 0.000 0.000
1 0.000  nan     36443 0.000 0.000      285 0.000 0.000 0.000 0.000 0.000
2 0.000  nan     36443 0.000 0.000      285 0.000 0.000 0.000 0.000 0.000
3 0.000  nan     36443 0.000 0.000      285 0.000 0.000 0.000 0.000 0.000
4 0.000  nan     36443 0.000 0.000      285 0.000 0.000 0.000 0.000 0.000

     FS    FT     G    GC    GS     I  Jogos    PE    PP Participou  Pontos  \
0 0.000 0.000 0.000 0.000 0.000 0.000    nan 0.000 0.000      False   0.000
1 0.000 0.000 0.000 0.000 0.000 0.000    nan 0.000 0.000      False   0.000
2 0.000 0.000 0.000 0.000 0.000 0.000    nan 0.000 0.000      False   0.000
3 0.000 0.000 0.000 0.000 0.000 0.000    nan 0.000 0.000      False   0.000
4 0.000 0.000 0.000 0.000 0.000 0.000    nan 0.000 0.000      False   0.000

   PontosMedia  Preco  PrecoVariacao    RB  Rodada    SG  Scouts
0        0.000  5.000          0.000 0.000       0 0.000     nan
1        0.000  5.000          0.000 0.000       1 0.000     nan
2        0.000  5.000          0.000 0.000       2 0.000     nan
3        0.000  5.000          0.000 0.000       3 0.000     nan
4        0.000  5.000          0.000 0.000       4 0.000     nan

Tamanaho da base:
  (31070, 29)

Quantidade de duplicados:
 False    31070
dtype: int64

Quantidade de Atletas Missing:
 0

Quantidade de clubes Missing:
 0

Quantidade de jogadores por rodada:  0     790
1     797
2     807
3     812
4     813
5     813
6     820
7     822
8     816
9     817
10    819
11    816
12    819
13    828
14    826
15    830
16    834
17    825
18    826
19    830
20    837
21    835
22    831
23    833
24    830
25    834
26    280
27    824
28    824
29    831
30    831
31    830
32    831
33    833
34    834
35    832
36    839
37    841
38    280
Name: Rodada, dtype: int64
RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL

#### Os jogos das rodadas 26 e 38 estão todos zerados, vamos eliminar e adicionar o scout do whoscored

In [40]:
print('Tamanho da base de 2015 antes da limpeza', scouts_2015.shape)
# Eliminando jogadores com nan no nome do clube e que não participaram de jogos
scouts_2015['Ano'] = 2015
scouts_2015 = scouts_2015[(scouts_2015.Rodada!= 26) &  (scouts_2015.Rodada!= 38)]
scouts_2015 = scouts_2015[scouts_2015.Scouts!=0]
scouts_2015 = scouts_2015[(scouts_2015.PrecoVariacao!= 0) | (scouts_2015.Pontos != 0)]
print('Tamanho da base com apenas jogadores que jogaram:',scouts_2015.shape)
scouts_2015_limpo = scouts_2015[(~scouts_2015.ClubeID.isnull()) &  (scouts_2015.Rodada>0)]
print('Tamanho da base limpa:', scouts_2015_limpo.shape); print('Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos ', 20*14*38)
scouts_2015_limpo.sample(10)

Tamanho da base de 2015 antes da limpeza (31070, 29)
Tamanho da base com apenas jogadores que jogaram: (9862, 29)
Tamanho da base limpa: (9862, 29)
Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos  10640

,A,Ano,AtletaID,CA,CV,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,Jogos,PE,PP,Participou,Pontos,PontosMedia,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
9088,0.000,2015,68744,3.000,0.000,262,0.000,0.000,10.000,1.000,5.000,22.000,0.000,1.000,0.000,0.000,3.000,nan,29.000,0.000,True,4.400,1.760,10.030,-0.010,8.000,14,0.000,82.000
27548,1.000,2015,90302,1.000,0.000,284,0.000,0.000,10.000,6.000,7.000,14.000,1.000,3.000,0.000,0.000,8.000,nan,21.000,0.000,True,10.700,3.470,6.110,1.820,5.000,13,0.000,77.000
453,0.000,2015,37607,1.000,0.000,276,0.000,0.000,3.000,0.000,5.000,1.000,0.000,2.000,0.000,0.000,2.000,nan,17.000,0.000,True,2.600,4.720,15.140,-0.890,5.000,6,0.000,36.000
4013,3.000,2015,42116,6.000,0.000,283,0.000,0.000,40.000,20.000,25.000,48.000,1.000,10.000,0.000,0.000,16.000,nan,67.000,1.000,True,6.300,5.710,17.700,-0.170,34.000,36,0.000,271.000
12167,0.000,2015,71162,2.000,0.000,266,0.000,0.000,7.000,1.000,3.000,5.000,1.000,2.000,0.000,0.000,0.000,nan,11.000,0.000,True,0.000,3.520,11.800,-1.580,4.000,6,0.000,36.000
18867,3.000,2015,80949,7.000,1.000,303,0.000,0.000,16.000,18.000,15.000,47.000,1.000,3.000,0.000,0.000,4.000,nan,77.000,0.000,True,3.800,3.680,12.920,0.300,14.000,24,0.000,206.000
9082,0.000,2015,68744,1.000,0.000,262,0.000,0.000,4.000,0.000,0.000,6.000,0.000,0.000,0.000,0.000,1.000,nan,6.000,0.000,True,-0.400,-0.400,9.100,-1.360,1.000,8,0.000,19.000
25431,0.000,2015,88056,0.000,0.000,264,0.000,0.000,4.000,6.000,0.000,12.000,1.000,0.000,0.000,0.000,0.000,nan,14.000,0.000,True,8.000,3.600,8.050,1.160,3.000,10,0.000,40.000
9315,0.000,2015,68827,3.000,0.000,303,0.000,0.000,9.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,1.000,nan,14.000,0.000,True,-3.100,2.000,5.590,-0.670,11.000,14,2.000,45.000
11214,0.000,2015,69782,0.000,0.000,315,0.000,0.000,4.000,0.000,1.000,2.000,0.000,0.000,0.000,0.000,0.000,nan,6.000,0.000,True,6.400,6.400,6.210,2.210,5.000,2,0.000,18.000

In [41]:
scouts_2015_limpo.Rodada.value_counts().sort_index()

1     271
2     275
3     278
4     279
5     279
6     279
7     248
8     251
9     278
10    279
11    274
12    272
13    275
14    281
15    279
16    221
17    276
18    277
19    277
20    276
21    277
22    280
23    276
24    279
25    280
27    280
28    279
29    280
30    279
31    280
32    279
33    279
34    280
35    251
36    279
37    279
Name: Rodada, dtype: int64

### Os jogadores do coritiba estão associados ao corinthians na primeira rodada, faremos a correção

### Acrescentando a posição do jogador

In [42]:
scouts_2015_limpo = scouts_2015_limpo.merge(players_2015, on = ['AtletaID','Ano'])

In [43]:
scouts_2015_limpo.loc[(scouts_2015_limpo.Rodada==1) & (scouts_2015_limpo.ClubeID_y==294) , 'ClubeID_x'] = 294

In [44]:
scouts_2015_limpo[(scouts_2015_limpo.ClubeID_x==294) & (scouts_2015_limpo.Rodada==1)].sample(5)

,A,Ano,AtletaID,CA,CV,ClubeID_x,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,Jogos,PE,PP,Participou,Pontos,PontosMedia,Preco,PrecoVariacao,RB,Rodada,SG,Scouts,Apelido,ClubeID_y,Posicao
6511,0.000,2015,77556,0.000,0.000,294,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,nan,0.000,0.000,True,-4.000,-4.000,0.790,-2.210,0.000,1,0.000,2.000,Bruno,294,gol
7742,0.000,2015,82456,0.000,0.000,294,0.000,0.000,1.000,1.000,0.000,2.000,0.000,1.000,0.000,0.000,0.000,nan,2.000,0.000,True,8.900,8.900,22.860,2.860,0.000,1,0.000,7.000,Rafhael Lucas,294,ata
2994,0.000,2015,56102,0.000,0.000,294,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,nan,7.000,0.000,True,0.800,0.800,5.380,-0.620,2.000,1,0.000,10.000,João Paulo,294,mei
7286,0.000,2015,80374,0.000,0.000,294,0.000,0.000,1.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,nan,3.000,0.000,True,0.100,0.100,6.410,-1.590,0.000,1,0.000,7.000,Norberto,294,lat
2529,0.000,2015,50877,0.000,0.000,294,0.000,0.000,4.000,0.000,1.000,3.000,0.000,0.000,0.000,0.000,0.000,nan,1.000,0.000,True,5.000,5.000,11.860,1.860,3.000,1,0.000,12.000,Pedro Ken,294,mei

In [45]:
scouts_2015_limpo.drop('ClubeID_y',axis=1,inplace=True)
scouts_2015_limpo.rename(columns={'ClubeID_x':'ClubeID'}, inplace=True)

In [46]:
scouts_2015_limpo.head()

,A,Ano,AtletaID,CA,CV,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,Jogos,PE,PP,Participou,Pontos,PontosMedia,Preco,PrecoVariacao,RB,Rodada,SG,Scouts,Apelido,Posicao
0,0.000,2015,36540,0.000,0.000,285,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,nan,2.000,0.000,True,1.600,1.600,11.740,-2.260,1.000,5,0.000,4.000,Juan,zag
1,0.000,2015,36540,0.000,0.000,285,0.000,0.000,2.000,0.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,nan,4.000,0.000,True,0.800,1.200,11.260,-0.480,2.000,7,0.000,10.000,Juan,zag
2,0.000,2015,36540,0.000,0.000,285,0.000,0.000,3.000,0.000,1.000,2.000,0.000,0.000,0.000,0.000,0.000,nan,6.000,0.000,True,1.100,1.170,10.320,-0.940,3.000,14,0.000,15.000,Juan,zag
3,0.000,2015,36540,0.000,0.000,285,0.000,0.000,3.000,0.000,1.000,2.000,0.000,0.000,0.000,0.000,1.000,nan,8.000,0.000,True,3.900,1.850,10.680,0.360,3.000,16,1.000,19.000,Juan,zag
4,0.000,2015,36540,0.000,0.000,285,0.000,0.000,4.000,1.000,2.000,2.000,0.000,0.000,0.000,0.000,1.000,nan,10.000,0.000,True,0.600,1.600,10.110,-0.570,3.000,17,1.000,24.000,Juan,zag

In [47]:
scouts_2015_limpo = scouts_2015_limpo.merge(clubes_2015.iloc[:,:2], left_on='ClubeID', right_on='ID').rename(columns = {'Nome':'Clube'})

In [48]:
scouts_2015_limpo.describe()

,A,Ano,AtletaID,CA,CV,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,Jogos,PE,PP,Pontos,PontosMedia,Preco,PrecoVariacao,RB,Rodada,SG,Scouts,ID
count,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,0.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000
mean,0.686,2015.000,66119.053,1.941,0.116,287.816,1.460,0.021,11.584,2.673,3.810,11.243,0.205,0.991,0.033,1.099,1.741,nan,27.047,0.020,2.624,2.684,8.878,-0.006,11.261,18.882,1.571,77.502,287.816
std,1.232,0.000,17271.807,2.021,0.355,17.408,6.705,0.183,11.514,3.780,4.736,11.960,0.534,1.794,0.197,4.958,3.254,nan,26.814,0.194,4.199,2.065,5.414,1.258,12.971,10.767,2.815,66.676,17.408
min,0.000,2015.000,36540.000,0.000,0.000,262.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,nan,0.000,0.000,-10.700,-7.000,0.790,-7.360,0.000,1.000,0.000,1.000,262.000
25%,0.000,2015.000,50462.000,0.000,0.000,275.000,0.000,0.000,3.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,nan,7.000,0.000,-0.200,1.310,4.770,-0.680,2.000,10.000,0.000,25.000,275.000
50%,0.000,2015.000,69051.000,1.000,0.000,285.000,0.000,0.000,8.000,1.000,2.000,7.000,0.000,0.000,0.000,0.000,0.000,nan,18.000,0.000,1.600,2.580,7.720,-0.075,7.000,19.000,0.000,59.000,285.000
75%,1.000,2015.000,80552.000,3.000,0.000,303.000,0.000,0.000,17.000,4.000,5.000,16.000,0.000,1.000,0.000,0.000,2.000,nan,39.000,0.000,4.800,3.800,11.830,0.590,16.000,29.000,2.000,114.000,303.000
max,12.000,2015.000,93151.000,12.000,3.000,317.000,72.000,3.000,96.000,34.000,44.000,108.000,5.000,19.000,2.000,48.000,31.000,nan,181.000,4.000,32.700,21.100,35.180,11.930,96.000,37.000,15.000,388.000,317.000

# Os dados de 2015 estão acumulando, vamos tratar isso

In [49]:
def get_scouts_for_round(df, round_):
    suffixes = ('_curr', '_prev')
    cols_current = [col + suffixes[0] for col in cols_scouts]
    cols_prev = [col + suffixes[1] for col in cols_scouts]
    
    df_round = df[df['Rodada'] == round_]
    if round_ == 1: return df_round
    
    df_round_prev = df[df['Rodada'] < round_].groupby('AtletaID', as_index=False)[cols_scouts].max()
    df_players = df_round.merge(df_round_prev, how='left', on=['AtletaID'], suffixes=suffixes)
    
    # if is the first round of a player, the scouts of previous rounds will be NaNs. Thus, set them to zero
    df_players.fillna(value=0, inplace=True)
    
    # compute the scouts 
    df_players[cols_current] = df_players[cols_current].values - df_players[cols_prev].values
    
    # update the columns
    df_players.drop(labels=cols_prev, axis=1, inplace=True)
    df_players = df_players.rename(columns=dict(zip(cols_current, cols_scouts)))
    df_players.SG = df_players.SG.clip_lower(0)
    
    return df_players

In [50]:
n_rounds = scouts_2015_limpo['Rodada'].max()
df_scouts = pd.DataFrame()
if np.isnan(n_rounds):
    scouts_2015_limpo = scouts_2015_limpo
else:
    for i in range(1, n_rounds+1):
        df_round = get_scouts_for_round(scouts_2015_limpo, i)
        print("Dimensões da rodada #{0}: {1}".format(i, df_round.shape))
        df_scouts = df_scouts.append(df_round, ignore_index=True)
    
print(df_scouts.shape)
scouts_2015_limpo = df_scouts.copy()
del(df_scouts)
scouts_2015_limpo.head()

Dimensões da rodada #1: (271, 33)
Dimensões da rodada #2: (275, 33)
Dimensões da rodada #3: (278, 33)
Dimensões da rodada #4: (279, 33)
Dimensões da rodada #5: (279, 33)
Dimensões da rodada #6: (279, 33)
Dimensões da rodada #7: (248, 33)
Dimensões da rodada #8: (251, 33)
Dimensões da rodada #9: (278, 33)
Dimensões da rodada #10: (279, 33)
Dimensões da rodada #11: (274, 33)
Dimensões da rodada #12: (272, 33)
Dimensões da rodada #13: (275, 33)
Dimensões da rodada #14: (281, 33)
Dimensões da rodada #15: (279, 33)
Dimensões da rodada #16: (221, 33)
Dimensões da rodada #17: (276, 33)
Dimensões da rodada #18: (277, 33)
Dimensões da rodada #19: (277, 33)
Dimensões da rodada #20: (276, 33)
Dimensões da rodada #21: (277, 33)
Dimensões da rodada #22: (280, 33)
Dimensões da rodada #23: (276, 33)
Dimensões da rodada #24: (279, 33)
Dimensões da rodada #25: (280, 33)
Dimensões da rodada #26: (0, 33)
Dimensões da rodada #27: (280, 33)
Dimensões da rodada #28: (279, 33)
Dimensões da rodada #29: (280, 33)
Dimensões da rodada #30: (279, 33)
Dimensões da rodada #31: (280, 33)
Dimensões da rodada #32: (279, 33)
Dimensões da rodada #33: (279, 33)
Dimensões da rodada #34: (280, 33)
Dimensões da rodada #35: (251, 33)
Dimensões da rodada #36: (279, 33)
Dimensões da rodada #37: (279, 33)
(9862, 33)

,A,Ano,Apelido,AtletaID,CA,CV,Clube,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,ID,Jogos,PE,PP,Participou,Pontos,PontosMedia,Posicao,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
0,0.000,2015,Rafael Moura,37655,0.000,0.000,Internacional,285,0.000,0.000,1.000,1.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,285,nan,0.000,0.000,True,2.700,2.700,ata,9.250,0.250,1.000,1,0.000,4.000
1,0.000,2015,Alex,38219,0.000,0.000,Internacional,285,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,285,nan,3.000,0.000,True,-0.400,-0.400,mei,17.090,-4.910,0.000,1,0.000,4.000
2,0.000,2015,Anderson,38852,0.000,0.000,Internacional,285,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,285,nan,3.000,0.000,True,2.000,2.000,mei,11.070,-0.930,2.000,1,0.000,6.000
3,0.000,2015,Réver,52253,0.000,0.000,Internacional,285,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,285,nan,2.000,0.000,True,-0.600,-0.600,zag,9.810,-3.190,0.000,1,0.000,2.000
4,0.000,2015,Alan Ruschel,63110,1.000,0.000,Internacional,285,0.000,0.000,4.000,0.000,0.000,2.000,0.000,0.000,0.000,0.000,0.000,285,nan,0.000,0.000,True,-3.000,-3.000,lat,1.580,-3.420,0.000,1,0.000,7.000

In [51]:
scouts_2015_limpo.describe()

,A,Ano,AtletaID,CA,CV,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,ID,Jogos,PE,PP,Pontos,PontosMedia,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
count,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9591.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000,9862.000
mean,0.060,2015.000,66119.053,0.178,0.011,287.816,0.106,0.001,1.076,0.234,0.337,1.018,0.017,0.087,0.003,0.088,0.153,287.816,0.000,2.351,0.002,2.624,2.684,8.878,-0.006,0.969,18.882,0.135,77.502
std,0.253,0.000,17271.807,0.387,0.102,17.408,0.510,0.038,1.226,0.530,0.628,1.260,0.132,0.313,0.050,0.449,0.461,17.408,0.000,2.109,0.045,4.199,2.065,5.414,1.258,1.257,10.767,0.347,66.676
min,0.000,2015.000,36540.000,0.000,0.000,262.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,262.000,0.000,0.000,0.000,-10.700,-7.000,0.790,-7.360,0.000,1.000,0.000,1.000
25%,0.000,2015.000,50462.000,0.000,0.000,275.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,275.000,0.000,1.000,0.000,-0.200,1.310,4.770,-0.680,0.000,10.000,0.000,25.000
50%,0.000,2015.000,69051.000,0.000,0.000,285.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,285.000,0.000,2.000,0.000,1.600,2.580,7.720,-0.075,1.000,19.000,0.000,59.000
75%,0.000,2015.000,80552.000,0.000,0.000,303.000,0.000,0.000,2.000,0.000,1.000,2.000,0.000,0.000,0.000,0.000,0.000,303.000,0.000,3.000,0.000,4.800,3.800,11.830,0.590,2.000,29.000,0.000,114.000
max,3.000,2015.000,93151.000,2.000,1.000,317.000,8.000,1.000,11.000,5.000,6.000,11.000,2.000,4.000,1.000,7.000,5.000,317.000,0.000,16.000,1.000,32.700,21.100,35.180,11.930,11.000,37.000,2.000,388.000

In [52]:
scouts_2015_limpo[cols_scouts] = scouts_2015_limpo[cols_scouts].replace(0, np.nan)

In [53]:
scouts_2015_limpo[scouts_2015_limpo.AtletaID==68834].sample(5)

,A,Ano,Apelido,AtletaID,CA,CV,Clube,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,ID,Jogos,PE,PP,Participou,Pontos,PontosMedia,Posicao,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
7352,nan,2015,Rithely,68834,1.000,nan,Sport,292,nan,nan,4.000,nan,nan,3.000,nan,nan,nan,nan,nan,292,0.000,1.000,nan,True,0.600,2.540,mei,13.180,-0.340,2.000,28,nan,261.000
9027,nan,2015,Rithely,68834,nan,nan,Sport,292,nan,nan,3.000,nan,2.000,2.000,nan,nan,nan,nan,nan,292,0.000,1.000,nan,True,7.400,2.450,mei,14.060,1.780,4.000,34,nan,312.000
5679,nan,2015,Rithely,68834,nan,nan,Sport,292,nan,nan,3.000,nan,1.000,3.000,nan,nan,nan,nan,nan,292,0.000,6.000,nan,True,4.000,3.170,mei,13.990,0.860,3.000,21,nan,204.000
5960,nan,2015,Rithely,68834,nan,nan,Sport,292,nan,nan,nan,1.000,nan,nan,nan,nan,nan,nan,nan,292,0.000,3.000,nan,True,1.800,3.100,mei,13.590,-0.400,1.000,22,nan,209.000
4573,nan,2015,Rithely,68834,nan,nan,Sport,292,nan,nan,nan,1.000,nan,nan,nan,nan,nan,nan,nan,292,0.000,3.000,nan,True,6.900,3.760,mei,14.900,1.770,4.000,17,nan,155.000

In [54]:
scouts_2015_limpo.describe()

,A,Ano,AtletaID,CA,CV,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,ID,Jogos,PE,PP,Pontos,PontosMedia,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
count,558.000,9862.000,9862.000,1743.000,104.000,9862.000,544.000,14.000,5806.000,1886.000,2638.000,5454.000,165.000,772.000,25.000,486.000,1195.000,9862.000,9591.000,7894.000,20.000,9862.000,9862.000,9862.000,9862.000,5122.000,9862.000,1306.000,9862.000
mean,1.063,2015.000,66119.053,1.010,1.000,287.816,1.915,1.000,1.827,1.222,1.258,1.841,1.018,1.106,1.000,1.794,1.264,287.816,0.000,2.937,1.000,2.624,2.684,8.878,-0.006,1.866,18.882,1.016,77.502
std,0.250,0.000,17271.807,0.098,0.000,17.408,1.116,0.000,1.087,0.510,0.562,1.164,0.134,0.348,0.000,1.015,0.592,17.408,0.000,1.959,0.000,4.199,2.065,5.414,1.258,1.171,10.767,0.126,66.676
min,1.000,2015.000,36540.000,1.000,1.000,262.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,262.000,0.000,1.000,1.000,-10.700,-7.000,0.790,-7.360,1.000,1.000,1.000,1.000
25%,1.000,2015.000,50462.000,1.000,1.000,275.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,275.000,0.000,1.000,1.000,-0.200,1.310,4.770,-0.680,1.000,10.000,1.000,25.000
50%,1.000,2015.000,69051.000,1.000,1.000,285.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,1.000,285.000,0.000,2.000,1.000,1.600,2.580,7.720,-0.075,1.000,19.000,1.000,59.000
75%,1.000,2015.000,80552.000,1.000,1.000,303.000,2.000,1.000,2.000,1.000,1.000,2.000,1.000,1.000,1.000,2.000,1.000,303.000,0.000,4.000,1.000,4.800,3.800,11.830,0.590,2.000,29.000,1.000,114.000
max,3.000,2015.000,93151.000,2.000,1.000,317.000,8.000,1.000,11.000,5.000,6.000,11.000,2.000,4.000,1.000,7.000,5.000,317.000,0.000,16.000,1.000,32.700,21.100,35.180,11.930,11.000,37.000,2.000,388.000

In [55]:
scouts_2015_limpo.Rodada.value_counts().sort_index()

1     271
2     275
3     278
4     279
5     279
6     279
7     248
8     251
9     278
10    279
11    274
12    272
13    275
14    281
15    279
16    221
17    276
18    277
19    277
20    276
21    277
22    280
23    276
24    279
25    280
27    280
28    279
29    280
30    279
31    280
32    279
33    279
34    280
35    251
36    279
37    279
Name: Rodada, dtype: int64

### 2016

In [56]:
# lendo a base de cada um dos anos
print('Análise do ano de 2016 \n \n \n')
scouts_2016 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2016\\2016_scouts_raw.csv')
print('Colunas:', '\n', scouts_2016.columns, '\n')
# this data have all player on Cartola dabase 2016, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',scouts_2016.head(), '\n')
print('Tamanaho da base: \n ', scouts_2016.shape, '\n')
print('Quantidade de duplicados: \n', scouts_2016.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de Atletas Missing: \n', scouts_2016.AtletaID.isnull().sum(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes Missing: \n', scouts_2016.ClubeID.isnull().sum(),  '\n') # twenty teams
scouts_2016['Scouts'] = scouts_2016[cols_scouts].sum(axis=1)
scouts_2016.sort_values(by=['AtletaID','Rodada', 'Scouts', 'Pontos'],inplace=True)
scouts_2016.drop_duplicates(subset=['AtletaID','Rodada'],keep='last', inplace=True)
print('Quantidade de jogadores por rodada: ', scouts_2016.Rodada.value_counts().sort_index())
print("RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL")
# We

Análise do ano de 2016



Colunas:
 Index(['Rodada', 'ClubeID', 'AtletaID', 'Participou', 'Pontos', 'PontosMedia',
       'Preco', 'PrecoVariacao', 'FS', 'PE', 'A', 'FT', 'FD', 'FF', 'G', 'I',
       'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP', 'GS'],
      dtype='object')

Base:
    Rodada  ClubeID  AtletaID  Participou  Pontos  PontosMedia  Preco  \
0       0  294.000     37623       False   0.000        0.000  4.000
1       1  294.000     37623        True   5.300        5.300  6.840
2       2  294.000     37623        True  -0.500        2.400  6.670
3       3  294.000     37623        True   2.300        2.370  6.980
4       4  294.000     37623        True  -2.700        1.100  5.500

   PrecoVariacao  FS  PE  A  FT  FD  FF  G  I  PP  RB  FC  GC  CA  CV  SG  DD  \
0          0.000   0   0  0   0   0   0  0  0   0   0   0   0   0   0   0   0
1          2.840   0   3  0   0   0   0  0  0   0   1   1   0   0   0   1   0
2         -0.170   0   0  0   0   0   0  0  0   0   0   1   0   0   0   0   0
3          0.310   1   2  0   0   0   0  0  0   0   2   2   0   0   0   0   0
4         -1.480   0   3  0   0   0   0  0  0   0   1   3   0   1   0   0   0

   DP  GS
0   0   0
1   0   0
2   0   0
3   0   0
4   0   0

Tamanaho da base:
  (31168, 26)

Quantidade de duplicados:
 False    31168
dtype: int64

Quantidade de Atletas Missing:
 0

Quantidade de clubes Missing:
 7

Quantidade de jogadores por rodada:  0     740
1     760
2     763
3     769
4     775
5     777
6     778
7     786
8     788
9     789
10    793
11    797
12    791
13    783
14    800
15    802
16    810
17    814
18    818
19    825
20    820
21    819
22    816
23    815
24    817
25    817
26    819
27    814
28    813
29    812
30    812
31    813
32    814
33    814
34    807
35    787
36    791
37    794
38    816
Name: Rodada, dtype: int64
RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL

In [57]:
print('Tamanho da base de 2016 antes da limpeza', scouts_2016.shape)
scouts_2016['Ano'] = 2016
# Eliminando jogadores com nan no nome do clube e que não participaram de jogos
scouts_2016 = scouts_2016[scouts_2016.Scouts!=0]
scouts_2016 = scouts_2016[(scouts_2016.PrecoVariacao  != 0) | (scouts_2016.Pontos  != 0)]
print('Tamanho da base com apenas jogadores que jogaram:',scouts_2016.shape)
scouts_2016_limpo = scouts_2016[~scouts_2016.ClubeID.isnull() & (scouts_2016.Rodada>0)]
scouts_2016_limpo = scouts_2016_limpo.drop('Participou', axis=1)
print('Tamanho da base limpa:', scouts_2016_limpo.shape); print('Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos ', 20*14*38)

scouts_2016_limpo.sample(10)

Tamanho da base de 2016 antes da limpeza (31168, 27)
Tamanho da base com apenas jogadores que jogaram: (10124, 28)
Tamanho da base limpa: (10123, 27)
Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos  10640

,Rodada,ClubeID,AtletaID,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano
10491,19,283.000,50362,-1.100,-0.670,0.820,0.030,0,1,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,4,2016
5314,13,266.000,68887,3.200,3.700,14.490,0.290,2,6,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,11,2016
9194,19,294.000,37705,16.400,5.690,18.350,2.650,2,1,1,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,7,2016
9038,19,266.000,37688,5.400,3.260,9.870,-0.880,0,3,0,0,0,0,0,1,0,4,0,0,0,0,0,0,0,0,8,2016
27717,27,276.000,85629,-0.600,0.960,2.300,-0.140,1,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4,2016
7432,21,284.000,78715,2.100,-0.390,5.940,0.840,0,1,0,0,0,0,0,0,0,2,2,0,0,0,0,0,0,0,5,2016
6073,13,316.000,72334,-0.300,4.420,8.750,-1.030,1,5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,7,2016
6839,1,287.000,71117,0.100,0.100,3.010,-0.990,1,2,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,5,2016
2459,2,303.000,68987,-0.200,-1.000,0.770,-0.110,2,3,0,0,0,0,0,0,0,1,4,0,0,0,0,0,0,0,10,2016
4028,17,277.000,90569,1.900,1.380,3.010,0.330,4,1,0,0,0,0,0,0,0,1,3,0,0,0,0,0,0,0,9,2016

### Acrescentando a posição do jogador

In [58]:
scouts_2016_limpo = scouts_2016_limpo.merge(players_2016, on = ['AtletaID','Ano'])

In [59]:
scouts_2016_limpo = scouts_2016_limpo.merge(clubes_2016.iloc[:,:2], left_on='ClubeID', right_on='ID').rename(columns = {'Nome':'Clube'})

In [60]:
scouts_2016_limpo[cols_scouts] = scouts_2016_limpo[cols_scouts].replace(0, np.nan)

In [61]:
scouts_2016_limpo.head(10)

,Rodada,ClubeID,AtletaID,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano,Apelido,Posicao,ID,Clube
0,1,262.000,36540,11.700,11.700,13.750,6.750,1.000,2.000,nan,nan,nan,nan,nan,nan,nan,4.000,nan,nan,nan,nan,1.000,nan,nan,nan,8,2016,Juan,zag,262,Flamengo
1,2,262.000,36540,2.200,6.950,15.220,1.470,1.000,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,nan,nan,nan,nan,nan,2,2016,Juan,zag,262,Flamengo
2,3,262.000,36540,-2.800,3.700,12.950,-2.270,nan,1.000,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,1.000,nan,nan,nan,nan,nan,3,2016,Juan,zag,262,Flamengo
3,15,262.000,36540,1.100,3.050,11.320,-1.630,nan,2.000,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,nan,nan,nan,nan,nan,3,2016,Juan,zag,262,Flamengo
4,16,262.000,36540,3.500,3.140,11.600,0.280,nan,1.000,nan,nan,nan,3.000,nan,nan,nan,1.000,nan,nan,nan,nan,nan,nan,nan,nan,5,2016,Juan,zag,262,Flamengo
5,17,262.000,36540,4.400,3.350,11.910,0.310,nan,2.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,3,2016,Juan,zag,262,Flamengo
6,35,262.000,36540,4.900,3.570,11.600,-0.310,1.000,2.000,nan,nan,1.000,nan,nan,nan,nan,nan,2.000,nan,nan,nan,1.000,nan,nan,nan,7,2016,Juan,zag,262,Flamengo
7,37,262.000,36540,4.400,3.670,11.470,-0.130,nan,2.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,3,2016,Juan,zag,262,Flamengo
8,38,262.000,36540,2.900,3.580,11.020,-0.450,2.000,2.000,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,1.000,nan,1.000,nan,nan,nan,7,2016,Juan,zag,262,Flamengo
9,2,262.000,38311,7.900,7.900,7.500,2.500,2.000,2.000,nan,nan,nan,nan,nan,nan,nan,5.000,2.000,nan,nan,nan,nan,nan,nan,nan,11,2016,Márcio Araújo,mei,262,Flamengo

In [62]:
scouts_2016_limpo.describe()

,Rodada,AtletaID,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano,ID
count,10123.000,10123.000,10123.000,10123.000,10123.000,10123.000,5900.000,8219.000,576.000,175.000,1930.000,2742.000,812.000,1121.000,24.000,5199.000,6193.000,19.000,1670.000,86.000,1225.000,535.000,18.000,517.000,10123.000,10123.000,10123.000
mean,19.347,69466.876,2.644,2.750,7.778,0.008,1.840,2.864,1.076,1.023,1.230,1.274,1.084,1.277,1.000,1.774,1.855,1.000,1.000,1.000,1.000,1.938,1.000,1.739,6.822,2016.000,289.301
std,10.974,17513.365,4.232,2.025,4.779,1.245,1.155,1.825,0.291,0.150,0.527,0.565,0.290,0.638,0.000,1.061,1.079,0.000,0.000,0.000,0.000,1.089,0.000,0.900,3.861,0.000,21.497
min,1.000,36540.000,-11.200,-8.400,0.740,-8.570,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2016.000,262.000
25%,10.000,56102.000,-0.300,1.430,4.195,-0.660,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,2016.000,276.000
50%,19.000,71885.000,1.700,2.670,6.910,-0.040,1.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,1.000,1.000,1.000,1.000,2.000,1.000,1.000,6.000,2016.000,284.000
75%,29.000,83786.000,4.900,3.890,10.340,0.610,2.000,4.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,2.000,1.000,1.000,1.000,1.000,3.000,1.000,2.000,9.000,2016.000,294.000
max,38.000,97460.000,28.200,24.400,32.200,12.910,10.000,13.000,3.000,2.000,5.000,5.000,3.000,7.000,1.000,9.000,8.000,1.000,1.000,1.000,1.000,6.000,1.000,5.000,24.000,2016.000,344.000

### 2017

##### 2017 peguei a base do link abaixo, a original tinha problema, não tinha a id do clube e ficou complicado gerar informação sobre os jogadores que mudaram de club

In [63]:
# https://raw.githubusercontent.com/thevtm/CartolaFCDados/master/2017/Scouts.csv

In [64]:
# lendo a base de cada um dos anos
print('Análise do ano de 2017 \n \n \n')
scouts_2017 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2017\\2017_scouts_raw.csv', encoding='utf8')
print('Colunas:', '\n', scouts_2017.columns, '\n')
# this data have all player on Cartola dabase 2017, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',scouts_2017.head(), '\n')
print('Tamanaho da base: \n ', scouts_2017.shape, '\n')
print('Quantidade de duplicados: \n', scouts_2017.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de Atletas Missing: \n', scouts_2017.AtletaID.isnull().sum(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes Missing: \n', scouts_2017.ClubeID.isnull().sum(),  '\n') # twenty teams
scouts_2017['Scouts'] = scouts_2017[cols_scouts].sum(axis=1)
scouts_2017.sort_values(by=['AtletaID','Rodada', 'Scouts', 'Pontos'],inplace=True)
scouts_2017.drop_duplicates(subset=['AtletaID','Rodada'],keep='last', inplace=True)
print('Quantidade de jogadores por rodada: ', scouts_2017.Rodada.value_counts().sort_index())

Análise do ano de 2017



Colunas:
 Index(['Rodada', 'ClubeID', 'AtletaID', 'Participou', 'Pontos', 'PontosMedia',
       'Preco', 'PrecoVariacao', 'FS', 'PE', 'A', 'FT', 'FD', 'FF', 'G', 'I',
       'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP', 'GS'],
      dtype='object')

Base:
    Rodada  ClubeID  AtletaID  Participou  Pontos  PontosMedia  Preco  \
0       0      262     36540       False   0.000        0.000  5.000
1       1      262     36540       False   0.000        0.000  5.000
2       2      262     36540       False   0.000        0.000  5.000
3       3      262     36540       False   0.000        0.000  5.000
4       4      262     36540        True   7.500        7.500  6.110

   PrecoVariacao  FS  PE  A  FT  FD  FF  G  I  PP  RB  FC  GC  CA  CV  SG  DD  \
0          0.000   0   0  0   0   0   0  0  0   0   0   0   0   0   0   0   0
1          0.000   0   0  0   0   0   0  0  0   0   0   0   0   0   0   0   0
2          0.000   0   0  0   0   0   0  0  0   0   0   0   0   0   0   0   0
3          0.000   0   0  0   0   0   0  0  0   0   0   0   0   0   0   0   0
4          1.110   0   1  0   0   1   2  0  0   0   2   2   0   1   0   1   0

   DP  GS
0   0   0
1   0   0
2   0   0
3   0   0
4   0   0

Tamanaho da base:
  (31771, 26)

Quantidade de duplicados:
 False    31771
dtype: int64

Quantidade de Atletas Missing:
 0

Quantidade de clubes Missing:
 0

Quantidade de jogadores por rodada:  0     837
1     787
2     786
3     804
4     805
5     806
6     809
8     814
9     817
10    826
11    827
12    831
13    836
14    838
15    840
16    844
17    839
18    837
19    836
20    838
21    843
22    860
23    856
24    856
25    855
26    845
27    843
28    843
29    845
30    844
31    847
32    848
33    847
34    847
35    848
36    849
37    868
38    870
Name: Rodada, dtype: int64

### Não temos informação da rodada 7 e alguns jogadores da rodada 8 não estão acumulando

## Os scouts das rodadas 12 está replicando ocorrido na rodada 11, o mesmo acontece com a 16, replicando as informações da rodada 15

In [65]:
print('Tamanho da base de 2017 antes da limpeza', scouts_2017.shape)
scouts_2017 = scouts_2017[(scouts_2017.Rodada!=8) & (scouts_2017.Rodada!=12) & (scouts_2017.Rodada!=16)]
scouts_2017['Ano'] = 2017
scouts_2017 = scouts_2017[scouts_2017.Scouts!=0]
# Eliminando jogadores com nan no nome do clube e que não participaram de jogos
scouts_2017 = scouts_2017[(scouts_2017.PrecoVariacao  != 0) | (scouts_2017.Pontos  != 0)]
print('Tamanho da base com apenas jogadores que jogaram:',scouts_2017.shape)
scouts_2017_limpo = scouts_2017[(~scouts_2017.ClubeID.isnull()) & (scouts_2017.Rodada>0)]
print('Tamanho da base limpa:', scouts_2017_limpo.shape); print('Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos ', 20*14*38)
scouts_2017_limpo.drop_duplicates(subset=['AtletaID','ClubeID','PontosMedia', 'Pontos', 'Preco', 'Rodada'],keep='last', inplace=True)
scouts_2017_limpo.sample(10)

Tamanho da base de 2017 antes da limpeza (31771, 27)
Tamanho da base com apenas jogadores que jogaram: (9333, 28)
Tamanho da base limpa: (9333, 28)
Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos  10640

,Rodada,ClubeID,AtletaID,Participou,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS,Scouts,Ano
8563,22,262,70009,True,2.700,1.120,5.850,-0.210,1,1,0,0,2,0,0,0,0,4,5,0,1,0,0,0,0,0,14,2017
23980,18,292,93746,True,3.100,3.260,4.030,-1.610,9,17,3,0,3,5,1,0,0,7,11,0,3,0,0,0,0,0,59,2017
4806,6,287,51905,True,8.200,4.100,6.940,1.720,9,11,0,0,0,1,0,0,0,10,11,0,1,0,1,0,0,0,44,2017
27920,37,266,97527,True,0.400,2.080,1.810,-0.200,17,13,1,2,1,0,1,1,0,8,7,0,2,0,0,0,0,0,53,2017
13536,35,263,80080,True,-0.400,4.010,6.630,-0.440,19,19,2,0,4,11,5,7,0,8,23,0,0,0,0,0,0,0,98,2017
411,3,314,37646,True,1.000,1.530,5.660,-0.100,3,11,0,0,0,0,0,0,0,2,0,0,1,0,1,0,0,0,18,2017
1439,5,264,38138,True,12.300,7.320,14.120,1.340,6,12,2,0,2,1,4,6,0,0,9,0,0,0,0,0,0,0,42,2017
1118,20,267,37919,True,1.700,6.070,13.050,-0.990,21,13,2,0,6,17,5,6,0,4,19,0,4,0,0,0,0,0,97,2017
3553,22,266,49673,True,4.500,2.360,6.010,0.110,10,10,0,0,0,0,0,0,0,0,0,0,0,0,2,24,0,22,68,2017
14543,30,282,81770,True,1.900,1.760,6.480,-0.020,2,10,0,0,0,1,2,1,0,3,7,0,0,0,0,0,0,0,26,2017

### Acrescentando a posição do jogador

In [66]:
scouts_2017_limpo = scouts_2017_limpo.merge(players_2017, on = ['AtletaID','Ano'])

In [67]:
scouts_2017_limpo = scouts_2017_limpo.merge(clubes_2017.iloc[:,:2], left_on='ClubeID', right_on='ID').rename(columns = {'Nome':'Clube'})
scouts_2017_limpo.drop('ID', axis=1, inplace=True)

### Vamos adicionar a sétima rodada de outra base, o nome das colunas são um pouco diferente, mas nada que impossibilite

In [68]:
rodada_07_08_12_16 = pd.read_csv("D:\\Dropbox\\caRtola-master\\data\\2017\\2017_scouts_raw.csv", encoding='utf8' )
rodada_07_08_12_16 = rodada_07_08_12_16[(rodada_07_08_12_16['Rodada']==7) | (rodada_07_08_12_16['Rodada']==8) | (rodada_07_08_12_16['Rodada']==12) | (rodada_07_08_12_16['Rodada']==16)]
rodada_07_08_12_16.drop(['Unnamed: 0', 'atletas.status_id', 'atletas.nome',
                       'atletas.foto', 'athletes.atletas.scout', 'atletas.clube_id', ], axis = 1, inplace = True)
rodada_07_08_12_16.rename(columns={'atletas.apelido':'Apelido', 'atletas.atleta_id': 'AtletaID'
                                 ,'atletas.jogos_num': 'Jogos'
                                 ,'atletas.media_num':  'PontosMedia',  'atletas.pontos_num':  'Pontos'
                                 ,'atletas.posicao_id':'Posicao', 'atletas.preco_num':'Preco'
                                 ,'atletas.variacao_num':'PrecoVariacao', 'atletas.clube.id.full.name':'Clube',
                                 'atletas.rodada_id': 'Rodada'}, inplace=True)
print(rodada_07_08_12_16.shape)
rodada_07_08_12_16['Ano'] = 2017
# Eliminando jogadores com nan no nome do clube e que não participaram de jogos
rodada_07_08_12_16 = rodada_07_08_12_16[(rodada_07_08_12_16.PrecoVariacao  != 0) | (rodada_07_08_12_16.Pontos  != 0)]
print('Tamanho da base com apenas jogadores que jogaram:',rodada_07_08_12_16.shape)
rodada_07_08_12_16 = rodada_07_08_12_16[(~rodada_07_08_12_16.Clube.isnull()) & (rodada_07_08_12_16.Rodada>0)]
rodada_07_08_12_16.drop_duplicates(subset=['AtletaID','Clube','PontosMedia', 'Pontos', 'Preco', 'Rodada'],keep='last', inplace=True)
rodada_07_08_12_16['Scouts'] = rodada_07_08_12_16[cols_scouts].sum(axis=1)
rodada_07_08_12_16 = rodada_07_08_12_16[rodada_07_08_12_16.Scouts!=0]
rodada_07_08_12_16.sample(10)

(3289, 28)
Tamanho da base com apenas jogadores que jogaram: (1198, 29)

,A,CA,CV,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,RB,SG,Apelido,AtletaID,Clube,Jogos,PontosMedia,Pontos,Posicao,Preco,Rodada,PrecoVariacao,Ano,Scouts
13759,nan,1.000,nan,nan,nan,5.000,1.000,nan,6.000,nan,nan,nan,nan,nan,13.000,nan,7.000,nan,Maicon,38196,Grêmio,8,0.940,1.600,mei,7.650,16,0.140,2017,33.000
5877,1.000,nan,nan,nan,nan,9.000,8.000,7.000,11.000,nan,4.000,nan,nan,1.000,15.000,nan,2.000,nan,Everaldo,78117,Atlético-GO,7,7.040,21.100,ata,13.010,7,4.730,2017,58.000
10093,nan,nan,nan,nan,nan,5.000,nan,nan,4.000,nan,nan,nan,nan,nan,3.000,nan,nan,nan,Niltinho,84703,Atlético-GO,3,-0.470,-0.600,ata,3.170,12,-0.370,2017,12.000
5716,nan,1.000,nan,nan,nan,7.000,nan,nan,2.000,nan,nan,nan,nan,nan,8.000,nan,nan,nan,Wellington,62129,Vasco,3,-2.300,-1.400,mei,0.760,7,-0.190,2017,18.000
6443,nan,nan,nan,20.000,1.000,nan,nan,nan,nan,nan,nan,nan,6.000,nan,3.000,nan,nan,5.000,Vanderlei,62121,Santos,8,9.890,11.000,gol,19.760,8,-1.390,2017,35.000
6560,nan,1.000,nan,nan,nan,4.000,1.000,1.000,11.000,nan,1.000,nan,nan,1.000,6.000,nan,2.000,nan,Vladimir Hernández,72879,Santos,7,1.760,-0.300,ata,8.880,8,-0.380,2017,28.000
5999,nan,nan,1.000,nan,nan,6.000,1.000,nan,6.000,nan,1.000,nan,nan,nan,9.000,nan,4.000,nan,Gabriel Xavier,85040,Vitória,4,2.020,3.500,mei,4.970,7,0.950,2017,28.000
9651,nan,3.000,nan,nan,nan,7.000,1.000,1.000,13.000,nan,nan,nan,nan,nan,30.000,nan,10.000,5.000,Betão,37646,Avaí,11,2.880,10.100,zag,8.120,12,1.590,2017,70.000
7100,nan,2.000,nan,nan,nan,2.000,2.000,nan,3.000,1.000,nan,nan,nan,nan,6.000,nan,1.000,nan,Nogueira,91815,Fluminense,4,0.470,0.000,zag,1.970,8,-0.130,2017,17.000
10175,nan,1.000,nan,nan,nan,8.000,nan,nan,19.000,nan,nan,nan,nan,nan,20.000,nan,16.000,nan,Orejuela,87874,Fluminense,9,2.750,2.800,mei,10.270,12,0.930,2017,64.000

In [69]:
scouts_2017_limpo = scouts_2017_limpo.append(rodada_07_08_12_16,ignore_index=True)
scouts_2017_limpo.sort_values(by=['AtletaID','Rodada', 'Scouts', 'Pontos'],inplace=True)
scouts_2017_limpo.reset_index(inplace=True)
scouts_2017_limpo.drop(['index', 'Jogos'], axis=1, inplace=True)
del(rodada_07_08_12_16)

# O Ano de 2017 também possui dados que estão sendo acumulados

In [70]:
scouts_2017_limpo.head(10)

,A,Ano,Apelido,AtletaID,CA,CV,Clube,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,Participou,Pontos,PontosMedia,Posicao,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
0,0.000,2017,Juan,36540,1.000,0.000,Flamengo,262.000,0.000,0.000,2.000,1.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,True,7.500,7.500,zag,6.110,1.110,2.000,4,1.000,10.000
1,0.000,2017,Juan,36540,2.000,0.000,Flamengo,262.000,0.000,0.000,2.000,2.000,2.000,1.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,True,2.600,5.050,zag,5.640,-0.470,4.000,5,1.000,16.000
2,1.000,2017,Juan,36540,2.000,0.000,Flamengo,262.000,0.000,0.000,2.000,2.000,3.000,2.000,0.000,0.000,0.000,0.000,0.000,5.000,0.000,True,10.400,6.830,zag,7.760,2.120,7.000,6,1.000,25.000
3,1.000,2017,Juan,36540,2.000,nan,Flamengo,nan,nan,nan,3.000,2.000,3.000,4.000,nan,nan,nan,nan,nan,6.000,nan,NaN,0.200,5.170,zag,6.250,-1.510,7.000,8,1.000,29.000
4,1.000,2017,Juan,36540,3.000,0.000,Flamengo,262.000,0.000,0.000,4.000,2.000,3.000,4.000,0.000,0.000,0.000,0.000,0.000,6.000,0.000,True,-0.800,3.980,zag,5.920,-0.330,8.000,9,1.000,32.000
5,1.000,2017,Juan,36540,3.000,nan,Flamengo,nan,nan,nan,4.000,2.000,3.000,4.000,1.000,nan,nan,nan,nan,10.000,nan,NaN,4.000,3.980,zag,6.290,0.370,9.000,16,1.000,38.000
6,2.000,2017,Juan,36540,3.000,0.000,Flamengo,262.000,0.000,0.000,5.000,3.000,4.000,4.000,1.000,0.000,0.000,0.000,0.000,11.000,0.000,True,5.900,4.250,zag,6.680,0.390,9.000,17,1.000,43.000
7,2.000,2017,Juan,36540,3.000,0.000,Flamengo,262.000,0.000,0.000,6.000,3.000,5.000,5.000,1.000,0.000,0.000,0.000,0.000,11.000,0.000,True,4.100,4.230,zag,6.650,-0.030,11.000,18,1.000,48.000
8,2.000,2017,Juan,36540,3.000,0.000,Flamengo,262.000,0.000,0.000,6.000,3.000,5.000,5.000,1.000,0.000,0.000,0.000,0.000,12.000,0.000,True,6.400,4.470,zag,7.020,0.370,12.000,22,2.000,51.000
9,2.000,2017,Juan,36540,3.000,0.000,Flamengo,262.000,0.000,0.000,6.000,3.000,5.000,5.000,1.000,0.000,0.000,0.000,0.000,14.000,0.000,True,2.800,4.300,zag,6.530,-0.490,14.000,27,2.000,55.000

In [71]:
n_rounds = scouts_2017_limpo['Rodada'].max()
df_scouts = pd.DataFrame()
if np.isnan(n_rounds):
    scouts_2017_limpo = scouts_2017_limpo
else:
    for i in range(1, n_rounds+1):
        df_round = get_scouts_for_round(scouts_2017_limpo, i)
        print("Dimensões da rodada #{0}: {1}".format(i, df_round.shape))
        df_scouts = df_scouts.append(df_round, ignore_index=True)
    
print(df_scouts.shape)
scouts_2017_limpo = df_scouts.copy()
del(df_scouts)
scouts_2017_limpo.head()

Dimensões da rodada #1: (271, 31)
Dimensões da rodada #2: (278, 31)
Dimensões da rodada #3: (276, 31)
Dimensões da rodada #4: (276, 31)
Dimensões da rodada #5: (251, 31)
Dimensões da rodada #6: (277, 31)
Dimensões da rodada #7: (279, 31)
Dimensões da rodada #8: (281, 31)
Dimensões da rodada #9: (281, 31)
Dimensões da rodada #10: (278, 31)
Dimensões da rodada #11: (281, 31)
Dimensões da rodada #12: (281, 31)
Dimensões da rodada #13: (279, 31)
Dimensões da rodada #14: (280, 31)
Dimensões da rodada #15: (280, 31)
Dimensões da rodada #16: (280, 31)
Dimensões da rodada #17: (249, 31)
Dimensões da rodada #18: (280, 31)
Dimensões da rodada #19: (279, 31)
Dimensões da rodada #20: (255, 31)
Dimensões da rodada #21: (278, 31)
Dimensões da rodada #22: (252, 31)
Dimensões da rodada #23: (281, 31)
Dimensões da rodada #24: (277, 31)
Dimensões da rodada #25: (279, 31)
Dimensões da rodada #26: (279, 31)
Dimensões da rodada #27: (277, 31)
Dimensões da rodada #28: (254, 31)
Dimensões da rodada #29: (279, 31)
Dimensões da rodada #30: (281, 31)
Dimensões da rodada #31: (278, 31)
Dimensões da rodada #32: (277, 31)
Dimensões da rodada #33: (280, 31)
Dimensões da rodada #34: (278, 31)
Dimensões da rodada #35: (277, 31)
Dimensões da rodada #36: (278, 31)
Dimensões da rodada #37: (278, 31)
Dimensões da rodada #38: (279, 31)
(10454, 31)

,A,Ano,Apelido,AtletaID,CA,CV,Clube,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,Participou,Pontos,PontosMedia,Posicao,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
0,0.000,2017,Zé Roberto,36612,0.000,0.000,Palmeiras,275.000,0.000,0.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,True,5.100,5.100,lat,9.270,1.270,1.000,1,1.000,6.000
1,0.000,2017,Rafael Marques,37623,0.000,0.000,Vasco,267.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,True,-1.200,-1.200,zag,4.100,-2.900,1.000,1,0.000,8.000
2,0.000,2017,Betão,37646,0.000,0.000,Avaí,314.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,True,4.300,4.300,zag,6.580,1.580,0.000,1,1.000,6.000
3,0.000,2017,Rafael Moura,37655,0.000,0.000,Atlético-MG,282.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,True,-1.000,-1.000,ata,4.950,-3.050,0.000,1,0.000,2.000
4,0.000,2017,Fábio,37656,0.000,0.000,Cruzeiro,283.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,True,4.700,4.700,gol,11.810,-0.190,0.000,1,1.000,2.000

In [72]:
scouts_2017_limpo[cols_scouts] = scouts_2017_limpo[cols_scouts].replace(0, np.nan)

In [73]:
scouts_2017_limpo.describe()

,A,Ano,AtletaID,CA,CV,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,Pontos,PontosMedia,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
count,590.000,10454.000,10454.000,1752.000,76.000,10454.000,563.000,27.000,6326.000,1978.000,2766.000,5902.000,174.000,808.000,19.000,533.000,1044.000,8147.000,38.000,10454.000,10454.000,10454.000,10454.000,5775.000,10454.000,1196.000,10454.000
mean,1.051,2017.000,72627.872,1.000,1.000,255.979,2.073,1.037,1.850,1.229,1.268,1.862,1.017,1.105,1.000,1.711,1.209,2.790,1.026,2.877,2.935,7.436,-0.001,1.875,19.528,1.000,83.154
std,0.249,0.000,18301.940,0.000,0.000,91.889,1.212,0.192,1.086,0.534,0.566,1.179,0.131,0.327,0.000,0.903,0.524,1.788,0.162,4.282,2.189,4.340,1.215,1.147,10.984,0.000,70.791
min,1.000,2017.000,36540.000,1.000,1.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,-10.000,-8.300,0.710,-10.070,1.000,1.000,1.000,1.000
25%,1.000,2017.000,62121.000,1.000,1.000,265.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,0.000,1.532,4.140,-0.650,1.000,10.000,1.000,26.000
50%,1.000,2017.000,77967.000,1.000,1.000,277.000,2.000,1.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,2.000,1.000,1.900,2.830,6.785,-0.070,1.000,19.000,1.000,65.000
75%,1.000,2017.000,86932.000,1.000,1.000,293.000,3.000,1.000,2.000,1.000,1.000,2.000,1.000,1.000,1.000,2.000,1.000,4.000,1.000,5.100,4.130,9.890,0.580,2.000,29.000,1.000,121.000
max,4.000,2017.000,100843.000,1.000,1.000,373.000,7.000,2.000,10.000,6.000,6.000,12.000,2.000,3.000,1.000,6.000,5.000,13.000,2.000,33.000,22.800,26.230,14.080,9.000,38.000,1.000,441.000

In [74]:
scouts_2017_limpo[(scouts_2017_limpo.AtletaID==70046) & (scouts_2017_limpo.Rodada>4) & (scouts_2017_limpo.Rodada<10)]

,A,Ano,Apelido,AtletaID,CA,CV,Clube,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,Participou,Pontos,PontosMedia,Posicao,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
1197,nan,2017,Victor Ferraz,70046,nan,nan,Santos,277.000,nan,nan,1.000,nan,nan,1.000,nan,1.000,nan,nan,nan,3.000,nan,True,12.100,3.400,lat,10.440,2.680,nan,5,1.000,25.000
1736,nan,2017,Victor Ferraz,70046,nan,nan,Santos,0.000,nan,nan,1.000,nan,nan,1.000,nan,nan,nan,nan,nan,5.000,nan,0,6.900,4.100,lat,10.140,-0.300,2.000,7,1.000,35.000
2016,nan,2017,Victor Ferraz,70046,nan,nan,Santos,0.000,nan,nan,1.000,nan,nan,1.000,nan,nan,nan,nan,nan,2.000,nan,0,7.800,4.720,lat,10.770,0.630,2.000,8,1.000,42.000
2300,nan,2017,Victor Ferraz,70046,nan,nan,Santos,277.000,nan,nan,nan,nan,nan,3.000,nan,nan,nan,nan,nan,4.000,nan,True,7.000,5.050,lat,11.060,0.290,1.000,9,1.000,51.000

# As bases de 2018 não estão consolidadas, então faremos isso, unir o scout de todas rodadas.

In [75]:
scouts_2018 = pd.DataFrame()
for i in range(1,39):
    aux = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2018\\rodada-'+str(i)+'.csv')
    scouts_2018 = scouts_2018.append(aux)
scouts_2018.to_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2018\\2018_scouts_raw.csv')

### O ano de 2018 também está acumulado e com estrutura semelhante a 2017

In [76]:
# lendo a base de cada um dos anos
print('Análise do ano de 2018 \n \n \n')
print('Colunas:', '\n', scouts_2018.columns, '\n')
# this data have all player on Cartola dabase 2017, also have ClubeID, nickname and Position
# We will explore
print('Base: \n',scouts_2018.head(), '\n')
print('Tamanaho da base: \n ', scouts_2018.shape, '\n')
print('Quantidade de duplicados: \n', scouts_2018.duplicated().value_counts(),  '\n') # This dataset doesn't have any duplicated
print('Quantidade de Atletas Missing: \n', scouts_2018['atletas.atleta_id'].isnull().sum(), '\n') # We have six positions of players on field , GK, DF, (RB and LF), MF, St, Coach
print('Quantidade de clubes Missing: \n', scouts_2018['atletas.clube_id'].isnull().sum(),  '\n') # twenty teams
scouts_2018['Scouts'] = scouts_2018[cols_scouts].sum(axis=1)
scouts_2018.sort_values(by=['atletas.atleta_id','atletas.rodada_id', 'Scouts', 'atletas.pontos_num'],inplace=True)
scouts_2018.drop_duplicates(subset=['atletas.atleta_id','atletas.rodada_id'],keep='last', inplace=True)
print('Quantidade de jogadores por rodada: ', scouts_2018['atletas.rodada_id'].value_counts().sort_index())
print("RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL")

# We

Análise do ano de 2018



Colunas:
 Index(['A', 'CA', 'CV', 'DD', 'DP', 'FC', 'FD', 'FF', 'FS', 'FT', 'G', 'GC',
       'GS', 'I', 'PE', 'PP', 'RB', 'SG', 'Unnamed: 0', 'atletas.apelido',
       'atletas.atleta_id', 'atletas.clube.id.full.name', 'atletas.clube_id',
       'atletas.foto', 'atletas.media_num', 'atletas.nome',
       'atletas.pontos_num', 'atletas.posicao_id', 'atletas.preco_num',
       'atletas.rodada_id', 'atletas.slug', 'atletas.status_id',
       'atletas.variacao_num'],
      dtype='object')

Base:
     A    CA  CV  DD  DP    FC    FD    FF    FS  FT     G  GC  GS     I    PE  \
0 nan   nan nan nan nan   nan   nan   nan   nan nan   nan nan nan   nan   nan
1 nan   nan nan nan nan   nan   nan   nan   nan nan   nan nan nan   nan   nan
2 nan   nan nan nan nan 1.000 2.000 2.000 2.000 nan 1.000 nan nan 1.000   nan
3 nan 1.000 nan nan nan 3.000   nan 1.000 8.000 nan   nan nan nan 1.000 5.000
4 nan   nan nan nan nan 1.000   nan   nan 2.000 nan 2.000 nan nan   nan 5.000

   PP    RB  SG  Unnamed: 0 atletas.apelido  atletas.atleta_id  \
0 nan   nan nan           1  Matheus Ferraz              38632
1 nan   nan nan           2            Lima              38506
2 nan 3.000 nan           3           Otero              83004
3 nan 1.000 nan           4           Diego              38909
4 nan 1.000 nan           5     Rodriguinho              61033

  atletas.clube.id.full.name atletas.clube_id  \
0                 América-MG              AME
1                 América-MG              AME
2                Atlético-MG              ATL
3                   Flamengo              FLA
4                Corinthians              COR

                                        atletas.foto  atletas.media_num  \
0  https://s.glbimg.com/es/sde/f/2018/03/17/6d461...              0.000
1  https://s.glbimg.com/es/sde/f/2018/03/17/3d9ef...              0.000
2  https://s.glbimg.com/es/sde/f/2017/04/03/9fe40...             16.500
3  https://s.glbimg.com/es/sde/f/2017/08/16/3ba37...              0.800
4  https://s.glbimg.com/es/sde/f/2018/03/20/c125f...             16.500

                    atletas.nome  atletas.pontos_num atletas.posicao_id  \
0         Matheus Ferraz Pereira               0.000                zag
1          Willian Lanes de Lima               0.000                zag
2           Rómulo Otero Vásquez              16.500                mei
3           Diego Ribas da Cunha               0.800                mei
4  Rodrigo Eduardo Costa Marinho              16.500                mei

   atletas.preco_num  atletas.rodada_id    atletas.slug atletas.status_id  \
0              6.000                  1  matheus-ferraz              Nulo
1              5.000                  1            lima              Nulo
2             14.810                  1           otero          Provável
3             10.890                  1           diego          Provável
4             23.080                  1     rodriguinho          Provável

   atletas.variacao_num
0                 0.000
1                 0.000
2                 9.810
3                -4.110
4                 6.080

Tamanaho da base:
  (30955, 33)

Quantidade de duplicados:
 False    30955
dtype: int64

Quantidade de Atletas Missing:
 0

Quantidade de clubes Missing:
 0

Quantidade de jogadores por rodada:  1     789
2     790
3     797
4     794
5     793
6     795
7     792
8     792
9     799
10    796
11    794
12    782
13    791
14    794
15    799
16    803
17    813
18    815
19    811
20    814
21    810
22    813
23    824
24    820
25    822
26    832
27    832
28    834
29    835
30    841
31    841
32    842
33    840
34    839
35    839
36    843
37    844
38    851
Name: atletas.rodada_id, dtype: int64
RODADA 0 É ANTES DO GAME COMEÇAR, JOGADORES COM PONTOS ZERADO E VALOR INICIAL

In [77]:
print('Tamanho da base de 2018 antes da limpeza', scouts_2018.shape)
scouts_2018['Ano'] = 2018
scouts_2018 = scouts_2018[scouts_2018.Scouts!=0]
# Eliminando jogadores com nan no nome do clube e que não participaram de jogos
scouts_2018 = scouts_2018[(scouts_2018['atletas.variacao_num'] != 0) | (scouts_2018['atletas.pontos_num'] != 0)]
print('Tamanho da base com apenas jogadores que jogaram:',scouts_2018.shape)
scouts_2018_limpo = scouts_2018[(scouts_2018['atletas.rodada_id']>0)]
scouts_2018_limpo = scouts_2018_limpo.drop(['Unnamed: 0', 'atletas.status_id', 'atletas.nome',
                       'atletas.foto', 'atletas.slug', 'atletas.clube_id'], axis = 1)
scouts_2018_limpo.rename(columns={'atletas.apelido':'Apelido', 'atletas.atleta_id': 'AtletaID'
                                 ,'atletas.jogos_num': 'Jogos'
                                 ,'atletas.media_num':  'PontosMedia',  'atletas.pontos_num':  'Pontos'
                                 ,'atletas.posicao_id':'Posicao', 'atletas.preco_num':'Preco'
                                 ,'atletas.variacao_num':'PrecoVariacao', 'atletas.clube.id.full.name':'Clube',
                                 'atletas.rodada_id': 'Rodada'}, inplace=True)
print('Tamanho da base limpa:', scouts_2018_limpo.shape); print('Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos ', 20*14*38)

scouts_2018_limpo.sample(10)

Tamanho da base de 2018 antes da limpeza (30955, 34)
Tamanho da base com apenas jogadores que jogaram: (10378, 35)
Tamanho da base limpa: (10378, 29)
Considerando que um time usa até 14 jogadores é esperado que em 20 time e 38 tenhamos  10640

,A,CA,CV,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,RB,SG,Apelido,AtletaID,Clube,PontosMedia,Pontos,Posicao,Preco,Rodada,PrecoVariacao,Scouts,Ano
409,nan,3.000,1.000,nan,nan,14.000,1.000,2.000,18.000,nan,nan,nan,nan,1.000,10.000,nan,40.000,8.000,Kannemann,87342,Grêmio,8.210,13.000,zag,14.380,19,1.290,98.000,2018
263,nan,3.000,nan,nan,nan,9.000,1.000,1.000,5.000,nan,1.000,nan,nan,1.000,10.000,nan,6.000,3.000,Douglas Grolli,78407,Bahia,2.500,5.900,zag,3.490,32,0.260,40.000,2018
240,nan,1.000,nan,17.000,1.000,nan,nan,nan,1.000,nan,nan,nan,16.000,nan,3.000,nan,nan,3.000,Fernando Miguel,71571,Vasco,3.210,8.000,gol,7.390,36,1.960,42.000,2018
676,nan,nan,nan,nan,nan,7.000,1.000,nan,2.000,nan,nan,nan,nan,nan,10.000,nan,9.000,nan,Araos,102352,Corinthians,2.300,-0.600,mei,6.040,20,-1.000,29.000,2018
486,nan,3.000,nan,nan,nan,27.000,3.000,6.000,16.000,nan,1.000,nan,nan,nan,26.000,nan,37.000,15.000,Léo Duarte,94214,Flamengo,4.400,2.700,zag,9.450,33,0.140,134.000,2018
747,nan,1.000,nan,nan,nan,14.000,1.000,5.000,14.000,nan,1.000,nan,nan,3.000,9.000,nan,4.000,nan,Rafael Grampola,95803,Paraná,1.860,8.500,ata,3.920,23,1.750,52.000,2018
353,1.000,4.000,nan,nan,nan,14.000,1.000,2.000,10.000,nan,nan,nan,nan,1.000,26.000,nan,19.000,3.000,Jeferson,84917,Vitória,2.530,2.700,lat,5.180,17,0.670,81.000,2018
168,nan,1.000,nan,nan,nan,16.000,nan,8.000,8.000,nan,2.000,nan,nan,7.000,8.000,nan,2.000,nan,Roger,38287,Corinthians,1.500,1.300,ata,5.180,12,0.110,52.000,2018
317,nan,nan,nan,nan,nan,2.000,nan,1.000,2.000,nan,nan,nan,nan,nan,2.000,nan,2.000,nan,Berrío,85300,Flamengo,0.800,2.300,ata,4.090,29,0.190,9.000,2018
620,3.000,1.000,nan,nan,nan,5.000,6.000,11.000,15.000,1.000,2.000,nan,nan,nan,28.000,nan,10.000,nan,Leonardo Valencia,91508,Botafogo,5.960,3.100,mei,9.460,12,-1.540,82.000,2018

In [78]:
n_rounds = scouts_2018_limpo['Rodada'].max()
df_scouts = pd.DataFrame()
if np.isnan(n_rounds):
    scouts_2018_limpo = scouts_2018_limpo
else:
    for i in range(1, n_rounds+1):
        df_round = get_scouts_for_round(scouts_2018_limpo, i)
        print("Dimensões da rodada #{0}: {1}".format(i, df_round.shape))
        df_scouts = df_scouts.append(df_round, ignore_index=True)
    
print(df_scouts.shape)
scouts_2018_limpo = df_scouts.copy()
del(df_scouts)
scouts_2018_limpo.head()

Dimensões da rodada #1: (271, 29)
Dimensões da rodada #2: (274, 29)
Dimensões da rodada #3: (251, 29)
Dimensões da rodada #4: (275, 29)
Dimensões da rodada #5: (277, 29)
Dimensões da rodada #6: (279, 29)
Dimensões da rodada #7: (275, 29)
Dimensões da rodada #8: (278, 29)
Dimensões da rodada #9: (279, 29)
Dimensões da rodada #10: (250, 29)
Dimensões da rodada #11: (280, 29)
Dimensões da rodada #12: (268, 29)
Dimensões da rodada #13: (280, 29)
Dimensões da rodada #14: (276, 29)
Dimensões da rodada #15: (223, 29)
Dimensões da rodada #16: (277, 29)
Dimensões da rodada #17: (278, 29)
Dimensões da rodada #18: (281, 29)
Dimensões da rodada #19: (280, 29)
Dimensões da rodada #20: (222, 29)
Dimensões da rodada #21: (279, 29)
Dimensões da rodada #22: (279, 29)
Dimensões da rodada #23: (277, 29)
Dimensões da rodada #24: (277, 29)
Dimensões da rodada #25: (280, 29)
Dimensões da rodada #26: (280, 29)
Dimensões da rodada #27: (280, 29)
Dimensões da rodada #28: (252, 29)
Dimensões da rodada #29: (283, 29)
Dimensões da rodada #30: (279, 29)
Dimensões da rodada #31: (283, 29)
Dimensões da rodada #32: (281, 29)
Dimensões da rodada #33: (281, 29)
Dimensões da rodada #34: (280, 29)
Dimensões da rodada #35: (277, 29)
Dimensões da rodada #36: (279, 29)
Dimensões da rodada #37: (279, 29)
Dimensões da rodada #38: (278, 29)
(10378, 29)

,A,CA,CV,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,RB,SG,Apelido,AtletaID,Clube,PontosMedia,Pontos,Posicao,Preco,Rodada,PrecoVariacao,Scouts,Ano
0,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,nan,nan,5.000,nan,1.000,nan,Juan,36540,Flamengo,0.500,0.500,zag,8.610,1,-3.390,7.000,2018
1,1.000,nan,nan,nan,nan,1.000,nan,1.000,nan,nan,nan,nan,nan,1.000,4.000,nan,1.000,nan,Rafael Moura,37655,América-MG,5.100,5.100,ata,10.400,1,0.400,9.000,2018
2,nan,nan,nan,1.000,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,nan,nan,nan,nan,Fábio,37656,Cruzeiro,1.000,1.000,gol,11.710,1,-4.290,2.000,2018
3,1.000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.000,nan,1.000,nan,Jonathan,37662,Atlético-PR,6.200,6.200,lat,9.780,1,1.780,3.000,2018
4,nan,nan,nan,nan,nan,2.000,2.000,nan,3.000,nan,1.000,nan,nan,2.000,1.000,nan,2.000,nan,Wagner,37674,Vasco,12.600,12.600,mei,13.500,1,6.500,13.000,2018

In [79]:
scouts_2018_limpo.describe()

,A,CA,CV,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,PE,PP,RB,SG,AtletaID,PontosMedia,Pontos,Preco,Rodada,PrecoVariacao,Scouts,Ano
count,10127.000,10145.000,10109.000,10123.000,10107.000,10263.000,10157.000,10188.000,10264.000,10110.000,10130.000,10108.000,10122.000,10133.000,10315.000,10107.000,10280.000,10134.000,10378.000,10378.000,10378.000,10378.000,10378.000,10378.000,10378.000,10378.000
mean,0.055,0.175,0.010,0.100,0.002,1.117,0.237,0.396,1.053,0.018,0.078,0.003,0.081,0.108,1.766,0.002,1.168,0.138,75707.561,3.146,3.057,6.995,19.627,0.001,75.595,2018.000
std,0.240,0.380,0.098,0.487,0.041,1.229,0.539,0.698,1.256,0.137,0.289,0.051,0.403,0.364,1.687,0.047,1.393,0.345,17972.959,2.195,4.231,3.932,10.999,1.152,65.106,0.000
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,36540.000,-6.600,-8.600,0.690,1.000,-7.110,1.000,2018.000
25%,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,68784.000,1.730,0.000,4.050,10.000,-0.610,25.000,2018.000
50%,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000,0.000,79088.500,2.910,2.100,6.230,20.000,-0.050,58.000,2018.000
75%,0.000,0.000,0.000,0.000,0.000,2.000,0.000,1.000,2.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,2.000,0.000,89646.000,4.310,5.300,9.240,29.000,0.550,110.000,2018.000
max,2.000,1.000,1.000,6.000,1.000,9.000,5.000,6.000,11.000,2.000,3.000,1.000,5.000,4.000,11.000,1.000,12.000,1.000,103724.000,20.900,31.100,27.590,38.000,10.780,413.000,2018.000

In [80]:
scouts_2018_limpo[cols_scouts] = scouts_2018_limpo[cols_scouts].replace(0, np.nan)

# Terceira parte, agregando os clubes por rodada

In [81]:
scouts_2014_limpo.columns

Index(['AtletaID', 'Rodada', 'ClubeID', 'Posicao', 'Jogos', 'Pontos',
       'PontosMedia', 'Preco', 'PrecoVariacao', 'FS', 'PE', 'A', 'FT', 'FD',
       'FF', 'G', 'I', 'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP',
       'GS', 'Scouts', 'Ano', 'Apelido', 'ID', 'Clube'],
      dtype='object')

In [82]:
scouts_2015_limpo.columns

Index(['A', 'Ano', 'Apelido', 'AtletaID', 'CA', 'CV', 'Clube', 'ClubeID', 'DD',
       'DP', 'FC', 'FD', 'FF', 'FS', 'FT', 'G', 'GC', 'GS', 'I', 'ID', 'Jogos',
       'PE', 'PP', 'Participou', 'Pontos', 'PontosMedia', 'Posicao', 'Preco',
       'PrecoVariacao', 'RB', 'Rodada', 'SG', 'Scouts'],
      dtype='object')

In [83]:
scouts_2016_limpo.columns

Index(['Rodada', 'ClubeID', 'AtletaID', 'Pontos', 'PontosMedia', 'Preco',
       'PrecoVariacao', 'FS', 'PE', 'A', 'FT', 'FD', 'FF', 'G', 'I', 'PP',
       'RB', 'FC', 'GC', 'CA', 'CV', 'SG', 'DD', 'DP', 'GS', 'Scouts', 'Ano',
       'Apelido', 'Posicao', 'ID', 'Clube'],
      dtype='object')

In [84]:
scouts_2017_limpo.columns

Index(['A', 'Ano', 'Apelido', 'AtletaID', 'CA', 'CV', 'Clube', 'ClubeID', 'DD',
       'DP', 'FC', 'FD', 'FF', 'FS', 'FT', 'G', 'GC', 'GS', 'I', 'PE', 'PP',
       'Participou', 'Pontos', 'PontosMedia', 'Posicao', 'Preco',
       'PrecoVariacao', 'RB', 'Rodada', 'SG', 'Scouts'],
      dtype='object')

In [85]:
scouts_2018_limpo.columns

Index(['A', 'CA', 'CV', 'DD', 'DP', 'FC', 'FD', 'FF', 'FS', 'FT', 'G', 'GC',
       'GS', 'I', 'PE', 'PP', 'RB', 'SG', 'Apelido', 'AtletaID', 'Clube',
       'PontosMedia', 'Pontos', 'Posicao', 'Preco', 'Rodada', 'PrecoVariacao',
       'Scouts', 'Ano'],
      dtype='object')

In [86]:
scouts = pd.DataFrame()
for i in range(2014,2019):
    scouts = scouts.append(globals()['scouts_'+ str(i) +'_limpo'])

In [87]:
scouts.Ano.value_counts()

2017    10454
2018    10378
2016    10123
2014    10108
2015     9862
Name: Ano, dtype: int64

In [88]:
scouts.isnull().sum()

A                48104
Ano                  0
Apelido              0
AtletaID             0
CA               42363
CV               50481
Clube                0
ClubeID          10378
DD               48192
DP               50836
FC               20003
FD               41142
FF               36982
FS               21705
FT               50057
G                47054
GC               50811
GS               48389
I                45476
ID               20832
Jogos            31226
PE               10976
PP               50802
Participou       30609
Pontos               0
PontosMedia          0
Posicao              0
Preco                0
PrecoVariacao        0
RB               23640
Rodada               0
SG               44482
Scouts               0
dtype: int64

In [89]:
scouts = scouts.sort_values(by = [ 'Ano', 'ClubeID', 'Clube',  'AtletaID'])

##### Agregar info por clube, rodada, ano

In [90]:
scouts.head()

,A,Ano,Apelido,AtletaID,CA,CV,Clube,ClubeID,DD,DP,FC,FD,FF,FS,FT,G,GC,GS,I,ID,Jogos,PE,PP,Participou,Pontos,PontosMedia,Posicao,Preco,PrecoVariacao,RB,Rodada,SG,Scouts
5551,nan,2014,Alecsandro,37673,nan,nan,Flamengo,262.000,nan,nan,2.000,1.000,nan,2.000,nan,nan,nan,nan,3.000,262.000,1.000,2.000,nan,NaN,2.300,2.300,ata,5.530,0.530,2.000,1,nan,12.000
5552,nan,2014,Alecsandro,37673,nan,nan,Flamengo,262.000,nan,nan,3.000,nan,1.000,nan,nan,nan,nan,nan,nan,262.000,2.000,3.000,nan,NaN,-1.700,0.300,ata,4.160,-1.370,nan,2,nan,7.000
5553,1.000,2014,Alecsandro,37673,nan,nan,Flamengo,262.000,nan,nan,2.000,3.000,1.000,3.000,nan,2.000,nan,nan,2.000,262.000,3.000,3.000,nan,NaN,25.000,8.530,ata,12.970,8.810,1.000,3,nan,18.000
5554,nan,2014,Alecsandro,37673,nan,nan,Flamengo,262.000,nan,nan,3.000,nan,2.000,4.000,nan,nan,nan,nan,4.000,262.000,4.000,3.000,nan,NaN,-1.000,6.150,ata,9.730,-3.240,nan,4,nan,16.000
5555,nan,2014,Alecsandro,37673,nan,nan,Flamengo,262.000,nan,nan,2.000,nan,nan,nan,nan,nan,nan,nan,1.000,262.000,5.000,3.000,nan,NaN,-2.400,4.440,ata,8.940,-0.790,nan,5,nan,6.000

In [91]:
scouts.to_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\Scouts.csv')

#### Agragando dados por clube, rodada e ano

In [92]:
parcial = scouts[scouts.Posicao!='tec']

In [93]:
aux = parcial.loc[:,['Clube', 'Rodada', 'Ano','Apelido', 'FS', 'PE', 'A', 'FT', 'FD', 'FF', 'G', 'I',
       'PP', 'RB', 'FC', 'GC', 'CA', 'CV', 'DD', 'DP', 'GS']]

In [94]:
aux = aux.groupby(['Clube', 'Rodada', 'Ano']).sum().reset_index()

In [95]:
aux2 = parcial.loc[:,['Ano', 'Clube', 'Rodada', 'Apelido']]

In [96]:
aux2 = aux2.groupby(['Clube', 'Rodada', 'Ano']).count().reset_index()

In [97]:
aux2 = aux2.rename(columns={'Apelido': 'n_jogadores'})

In [98]:
aux3 = aux.merge(aux2, on=['Clube', 'Rodada', 'Ano'])

In [99]:
aux3.sample(10)

,Clube,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
596,Bahia,14,2018,24.000,23.000,3.000,0.000,2.000,4.000,4.000,1.000,1.000,20.000,18.000,0.000,3.000,0.000,2.000,0.000,1.000,14
2789,Ponte Preta,16,2016,12.000,43.000,2.000,1.000,3.000,5.000,2.000,3.000,0.000,13.000,20.000,0.000,3.000,0.000,0.000,0.000,2.000,12
2467,Internacional,34,2018,17.000,20.000,2.000,0.000,3.000,2.000,2.000,2.000,0.000,20.000,18.000,0.000,1.000,0.000,1.000,0.000,0.000,14
1809,Flamengo,22,2015,16.000,48.000,3.000,0.000,1.000,2.000,3.000,3.000,0.000,14.000,14.000,0.000,1.000,0.000,4.000,0.000,0.000,14
1747,Flamengo,9,2018,18.000,31.000,0.000,0.000,3.000,10.000,1.000,1.000,0.000,24.000,14.000,0.000,3.000,0.000,0.000,0.000,0.000,14
1530,Cruzeiro,25,2016,14.000,39.000,0.000,0.000,3.000,6.000,0.000,0.000,0.000,9.000,8.000,0.000,0.000,1.000,2.000,1.000,1.000,14
273,Atlético-MG,33,2018,13.000,25.000,1.000,0.000,7.000,6.000,1.000,0.000,0.000,10.000,22.000,0.000,3.000,0.000,2.000,0.000,1.000,13
2361,Internacional,7,2016,13.000,29.000,3.000,1.000,1.000,5.000,3.000,0.000,0.000,11.000,16.000,0.000,2.000,0.000,3.000,0.000,1.000,14
788,Botafogo,31,2017,20.000,20.000,0.000,0.000,1.000,3.000,0.000,0.000,0.000,18.000,15.000,0.000,2.000,0.000,0.000,0.000,0.000,14
1821,Flamengo,24,2017,16.000,27.000,1.000,0.000,2.000,7.000,2.000,1.000,0.000,21.000,14.000,0.000,0.000,0.000,1.000,0.000,0.000,14

In [100]:
aux.describe()

,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS
count,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000,3704.000
mean,19.375,2016.009,14.658,29.995,0.808,0.239,3.225,4.820,1.144,1.837,0.033,13.824,15.509,0.031,2.317,0.120,1.437,0.024,1.173
std,10.945,1.418,4.585,8.485,0.916,0.501,1.994,2.471,1.091,1.661,0.183,5.044,4.705,0.174,1.437,0.360,1.284,0.156,1.104
min,1.000,2014.000,2.000,7.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,10.000,2015.000,11.000,24.000,0.000,0.000,2.000,3.000,0.000,1.000,0.000,10.000,12.000,0.000,1.000,0.000,0.000,0.000,0.000
50%,19.000,2016.000,14.000,29.000,1.000,0.000,3.000,5.000,1.000,1.000,0.000,13.000,15.000,0.000,2.000,0.000,1.000,0.000,1.000
75%,29.000,2017.000,17.000,35.000,1.000,0.000,4.000,6.000,2.000,3.000,0.000,17.000,18.000,0.000,3.000,0.000,2.000,0.000,2.000
max,38.000,2018.000,34.000,72.000,6.000,3.000,14.000,14.000,7.000,11.000,2.000,42.000,40.000,2.000,10.000,3.000,8.000,2.000,7.000

In [101]:
del(aux)
del(aux2)

### Verificando jogos faltantes
      - Quando os jogos são adiados não entram no cartola, possível motivo de falta dos dados

In [102]:
pd.crosstab(index=aux3["Rodada"],  # Make a crosstab
                              columns=aux3.Ano)

Ano     2014  2015  2016  2017  2018
Rodada
1         20    20    20    20    20
2         20    20    20    20    20
3         20    20    20    20    18
4         20    20    20    20    20
5         16    20    20    18    20
6         20    20    20    20    20
7         20    18    20    20    20
8         20    18    20    20    20
9         20    20    20    20    20
10        18    20    20    20    18
11        20    20    20    20    20
12        20    20    20    20    20
13        20    20    20    20    20
14        20    20    20    20    20
15        20    20    20    20    16
16        20    16    20    20    20
17        20    20    20    18    20
18        20    20    18    20    20
19        20    20    18    20    20
20        20    20    20    18    16
21        20    20    18    20    20
22        20    20    20    18    20
23        20    20    20    20    20
24        20    20    20    20    20
25        20    20    20    20    20
26        18     0    20    20    20
27        20    20    20    20    20
28        20    20    20    18    18
29        20    20    20    20    20
30        20    20    20    20    20
31        20    20    20    20    20
32        20    20    18    20    20
33        20    20    18    20    20
34        20    20    20    20    20
35        18    18    20    20    20
36        20    20    20    20    20
37        20    20    20    20    20
38        20     0    18    20    20

In [103]:
#aux3.Finalizacoes.value_counts().sort_index()
aux3.FF.value_counts().sort_index()

0.000      50
1.000     190
2.000     399
3.000     557
4.000     617
5.000     583
6.000     489
7.000     313
8.000     205
9.000     131
10.000     75
11.000     48
12.000     25
13.000     17
14.000      5
Name: FF, dtype: int64

# Acrescentando rodadas faltantes

### Acrescentando rodadas faltantes 2018

In [104]:
base_2018 = aux3[aux3.Ano==2018]

In [105]:
base_2018.describe()

,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
count,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000,746.000
mean,19.568,2018.000,14.483,24.425,0.752,0.247,3.223,5.408,1.055,1.472,0.029,16.102,15.373,0.035,2.377,0.133,1.362,0.023,1.092,13.912
std,11.018,0.000,4.187,6.407,0.877,0.503,2.008,2.678,1.057,1.387,0.169,4.639,4.215,0.184,1.357,0.373,1.232,0.149,1.062,0.437
min,1.000,2018.000,4.000,7.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,5.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,11.000
25%,10.000,2018.000,12.000,20.000,0.000,0.000,2.000,4.000,0.000,0.000,0.000,13.000,13.000,0.000,1.000,0.000,0.000,0.000,0.000,14.000
50%,20.000,2018.000,14.000,24.000,1.000,0.000,3.000,5.000,1.000,1.000,0.000,16.000,15.000,0.000,2.000,0.000,1.000,0.000,1.000,14.000
75%,29.000,2018.000,17.000,28.000,1.000,0.000,4.000,7.000,2.000,2.000,0.000,19.000,18.000,0.000,3.000,0.000,2.000,0.000,2.000,14.000
max,38.000,2018.000,29.000,49.000,4.000,3.000,14.000,14.000,5.000,8.000,1.000,36.000,30.000,1.000,7.000,3.000,6.000,1.000,5.000,16.000

In [106]:
#print(pd.crosstab(index=base_2018["Rodada"],  # Make a crosstab
#                              columns='Ano')) 
print('Rodadas faltantes     Jogos faltantes\n','03 2 \n','10 2\n', '15 4\n', '20 4\n', '28 2')
base_2018[base_2018.Rodada==28]

Rodadas faltantes     Jogos faltantes
 03 2
 10 2
 15 4
 20 4
 28 2

,Clube,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
54,América-MG,28,2018,9.000,28.000,0.000,0.000,3.000,1.000,0.000,3.000,0.000,16.000,13.000,0.000,3.000,0.000,0.000,0.000,4.000,14
248,Atlético-MG,28,2018,19.000,21.000,0.000,0.000,2.000,9.000,0.000,1.000,0.000,21.000,16.000,0.000,3.000,0.000,0.000,0.000,1.000,14
432,Atlético-PR,28,2018,11.000,26.000,4.000,1.000,0.000,3.000,4.000,0.000,0.000,14.000,10.000,0.000,3.000,0.000,0.000,0.000,0.000,14
637,Bahia,28,2018,12.000,16.000,2.000,0.000,3.000,3.000,2.000,0.000,0.000,16.000,25.000,0.000,3.000,1.000,3.000,0.000,2.000,14
777,Botafogo,28,2018,13.000,24.000,1.000,1.000,4.000,9.000,1.000,1.000,0.000,14.000,13.000,0.000,3.000,0.000,2.000,0.000,1.000,14
985,Chapecoense,28,2018,14.000,23.000,1.000,0.000,0.000,7.000,1.000,2.000,0.000,19.000,20.000,0.000,3.000,0.000,2.000,0.000,0.000,14
1170,Corinthians,28,2018,16.000,23.000,0.000,0.000,3.000,5.000,0.000,1.000,0.000,14.000,9.000,0.000,2.000,0.000,2.000,0.000,3.000,14
1841,Flamengo,28,2018,7.000,32.000,1.000,0.000,4.000,4.000,3.000,0.000,0.000,23.000,18.000,0.000,1.000,0.000,3.000,0.000,0.000,14
2026,Fluminense,28,2018,17.000,28.000,4.000,0.000,4.000,5.000,4.000,3.000,0.000,14.000,8.000,0.000,1.000,0.000,0.000,0.000,0.000,14
2285,Grêmio,28,2018,23.000,19.000,1.000,0.000,5.000,6.000,2.000,5.000,0.000,18.000,13.000,0.000,2.000,0.000,1.000,0.000,2.000,14
2443,Internacional,28,2018,10.000,26.000,1.000,0.000,2.000,4.000,1.000,0.000,0.000,17.000,10.000,0.000,1.000,0.000,1.000,0.000,2.000,14
2655,Palmeiras,28,2018,21.000,30.000,2.000,1.000,2.000,2.000,2.000,3.000,0.000,16.000,17.000,0.000,3.000,0.000,2.000,0.000,0.000,14
2732,Paraná,28,2018,9.000,25.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,10.000,17.000,0.000,2.000,0.000,2.000,0.000,4.000,14
3024,Santos,28,2018,17.000,20.000,1.000,0.000,2.000,5.000,1.000,1.000,0.000,19.000,24.000,0.000,2.000,0.000,1.000,0.000,0.000,14
3210,Sport,28,2018,6.000,24.000,2.000,0.000,2.000,4.000,2.000,3.000,0.000,18.000,10.000,0.000,4.000,0.000,1.000,0.000,1.000,14
3394,São Paulo,28,2018,17.000,27.000,0.000,0.000,2.000,5.000,0.000,2.000,0.000,22.000,19.000,0.000,2.000,0.000,2.000,0.000,2.000,14
3522,Vasco,28,2018,12.000,34.000,1.000,0.000,2.000,3.000,1.000,0.000,0.000,14.000,13.000,0.000,2.000,0.000,3.000,0.000,1.000,14
3663,Vitória,28,2018,24.000,31.000,0.000,1.000,2.000,10.000,0.000,0.000,0.000,18.000,16.000,0.000,3.000,1.000,0.000,0.000,1.000,14

In [107]:
print('Rodada 3: Vasco x Santos\n',
      'Rodada 10:  São Paulo x Internacional\n',
      'Rodada 15: Atlético-PR x Vasco\n'
      'Rodada 15: Ceará x Bahia\n'
      'Rodada 20: Ceará x Santos\n',
      'Rodada 20: Chapecoense x Atlético-PR '
      'Rodada 28: Cruzeiro x Ceará'
     )
#base_2018[base_2018.Rodada==20]

Rodada 3: Vasco x Santos
 Rodada 10:  São Paulo x Internacional
 Rodada 15: Atlético-PR x Vasco
Rodada 15: Ceará x Bahia
Rodada 20: Ceará x Santos
 Rodada 20: Chapecoense x Atlético-PR Rodada 28: Cruzeiro x Ceará


# Devido aos dados faltantes e não uso de todas informações a base vai ser restruturada:

    - Será mantida as seguintes Var: Clube, Rodada, Ano, FS, FC, CA, RB, FF, FinC, Finalizacoes
    - As finalizações são FT + FD = FinC
    - As finalizações FF será mantida
    - Finalizações FF + FT + FD = Finalizacoes
    - Os dados serão utilizados do whoscored
    - Shots on target = FinC
    - Shots off target = FF
    - Tackles = FC
    -

## vamos adionar informação de scouts das partidas faltantes.

#### Posiveis sites para extração de scouts

    + https://www.resultados.com/futebol/brasil/serie-a/
    + https://br.soccerway.com/national/brazil/serie-a/2018/regular-season/r45710/matches/?ICID=PL_3N_02
    + https://www.soccerpunter.com/soccer-statistics/Brazil
    + https://www.whoscored.com/Regions/31/Tournaments/95/Seasons/5713/Brazil-Brasileir%C3%A3o

In [108]:
base_2018 = base_2018.drop(['PE', 'A', 'G', 'PP', 'I', 'GC', 'CV', 'DD', 'DP', 'GS', 'n_jogadores'], axis=1)

In [109]:
faltantes = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2018\\faltantes_2018.csv', sep=';')

In [110]:
base_2018 = base_2018.append(faltantes,ignore_index=True)
base_2018['FinC'] = base_2018.FD + base_2018.FT
base_2018['Finalizacoes'] = base_2018.FD + base_2018.FT + base_2018.FF

In [111]:
print(pd.crosstab(index=base_2018["Rodada"],  # Make a crosstab
                              columns='Ano'))

col_0   Ano
Rodada
1        20
2        20
3        20
4        20
5        20
6        20
7        20
8        20
9        20
10       20
11       20
12       20
13       20
14       20
15       20
16       20
17       20
18       20
19       20
20       20
21       20
22       20
23       20
24       20
25       20
26       20
27       20
28       20
29       20
30       20
31       20
32       20
33       20
34       20
35       20
36       20
37       20
38       20

### Acrescentando rodadas faltantes 2017

In [112]:
base_2017 = aux3[aux3.Ano==2017]

In [113]:
base_2017.describe()

,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
count,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000
mean,19.515,2017.000,14.652,30.308,0.827,0.236,3.240,4.677,1.191,1.683,0.052,14.441,15.605,0.025,2.336,0.101,1.556,0.037,1.216,13.939
std,11.010,0.000,4.476,7.707,0.914,0.521,2.056,2.496,1.078,1.564,0.228,4.636,4.605,0.157,1.487,0.323,1.381,0.197,1.087,0.434
min,1.000,2017.000,2.000,9.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,11.000
25%,10.000,2017.000,12.000,25.000,0.000,0.000,2.000,3.000,0.000,1.000,0.000,11.000,12.000,0.000,1.000,0.000,1.000,0.000,0.000,14.000
50%,19.000,2017.000,14.000,30.000,1.000,0.000,3.000,4.000,1.000,1.000,0.000,14.000,15.000,0.000,2.000,0.000,1.000,0.000,1.000,14.000
75%,29.000,2017.000,17.000,35.000,1.000,0.000,4.000,6.000,2.000,2.000,0.000,18.000,18.750,0.000,3.000,0.000,2.000,0.000,2.000,14.000
max,38.000,2017.000,31.000,65.000,6.000,3.000,12.000,14.000,6.000,9.000,2.000,31.000,32.000,1.000,9.000,2.000,7.000,2.000,6.000,16.000

In [114]:
#print(pd.crosstab(index=base_2017["Rodada"],  # Make a crosstab
#                              columns='Ano')) 
#print('Rodadas faltantes     Jogos faltantes\n','05 2 \n','17 2\n', '20 2\n', '22 2\n', '28 2')
base_2017[base_2017.Rodada==28]

,Clube,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
102,Atlético-GO,28,2017,12.000,36.000,0.000,0.000,3.000,7.000,1.000,2.000,0.000,17.000,19.000,0.000,1.000,1.000,1.000,0.000,3.000,14
247,Atlético-MG,28,2017,17.000,27.000,1.000,0.000,1.000,8.000,1.000,2.000,0.000,17.000,14.000,0.000,2.000,0.000,0.000,0.000,1.000,14
431,Atlético-PR,28,2017,6.000,28.000,0.000,0.000,1.000,2.000,1.000,1.000,0.000,9.000,12.000,0.000,2.000,1.000,2.000,0.000,2.000,14
536,Avaí,28,2017,16.000,26.000,0.000,0.000,2.000,2.000,0.000,2.000,0.000,14.000,12.000,0.000,2.000,0.000,1.000,0.000,1.000,14
636,Bahia,28,2017,14.000,33.000,2.000,0.000,1.000,1.000,2.000,2.000,0.000,18.000,11.000,0.000,0.000,0.000,2.000,0.000,0.000,14
776,Botafogo,28,2017,12.000,27.000,0.000,0.000,2.000,8.000,0.000,1.000,0.000,11.000,13.000,0.000,3.000,0.000,1.000,0.000,1.000,14
984,Chapecoense,28,2017,16.000,20.000,0.000,0.000,5.000,8.000,0.000,1.000,0.000,16.000,23.000,0.000,2.000,0.000,0.000,1.000,1.000,14
1169,Corinthians,28,2017,10.000,31.000,0.000,0.000,3.000,2.000,0.000,2.000,0.000,18.000,15.000,0.000,2.000,0.000,1.000,0.000,2.000,14
1330,Coritiba,28,2017,17.000,36.000,0.000,1.000,4.000,4.000,0.000,1.000,0.000,19.000,14.000,0.000,4.000,0.000,0.000,0.000,1.000,15
1840,Flamengo,28,2017,22.000,27.000,1.000,0.000,3.000,6.000,1.000,5.000,1.000,18.000,17.000,0.000,2.000,0.000,2.000,0.000,0.000,15
2025,Fluminense,28,2017,11.000,29.000,0.000,1.000,3.000,10.000,1.000,1.000,0.000,22.000,18.000,0.000,2.000,0.000,0.000,0.000,0.000,14
2284,Grêmio,28,2017,14.000,26.000,1.000,0.000,0.000,3.000,1.000,4.000,0.000,16.000,17.000,0.000,3.000,0.000,1.000,0.000,0.000,14
2654,Palmeiras,28,2017,17.000,38.000,3.000,0.000,6.000,3.000,3.000,1.000,0.000,13.000,14.000,0.000,1.000,0.000,3.000,0.000,1.000,14
3023,Santos,28,2017,13.000,33.000,1.000,0.000,4.000,6.000,1.000,0.000,0.000,20.000,10.000,0.000,2.000,0.000,2.000,0.000,2.000,14
3209,Sport,28,2017,13.000,25.000,1.000,0.000,5.000,8.000,1.000,0.000,0.000,22.000,19.000,0.000,2.000,0.000,1.000,0.000,1.000,14
3393,São Paulo,28,2017,12.000,37.000,2.000,0.000,6.000,8.000,2.000,0.000,0.000,15.000,6.000,0.000,1.000,0.000,1.000,0.000,1.000,14
3521,Vasco,28,2017,11.000,29.000,0.000,1.000,1.000,4.000,1.000,0.000,0.000,12.000,15.000,0.000,5.000,0.000,1.000,0.000,0.000,14
3662,Vitória,28,2017,8.000,25.000,2.000,1.000,4.000,6.000,2.000,0.000,0.000,17.000,15.000,1.000,4.000,0.000,1.000,0.000,2.000,14

In [115]:
base_2017.Clube.unique()

array(['Atlético-GO', 'Atlético-MG', 'Atlético-PR', 'Avaí', 'Bahia',
       'Botafogo', 'Chapecoense', 'Corinthians', 'Coritiba', 'Cruzeiro',
       'Flamengo', 'Fluminense', 'Grêmio', 'Palmeiras', 'Ponte Preta',
       'Santos', 'Sport', 'São Paulo', 'Vasco', 'Vitória'], dtype=object)

In [116]:
print('Rodada 5: Fluminense x Atlético-PR\n',
      'Rodada 10:  São Paulo x Internacional\n',
      'Rodada 15: Atlético-PR x Vasco\n'
      'Rodada 15: Ceará x Bahia\n'
      'Rodada 20: Ceará x Santos\n',
      'Rodada 20: Chapecoense x Atlético-PR '
      'Rodada 28: Cruzeiro x Ceará'
     )
#base_2018[base_2018.Rodada==20]

Rodada 5: Fluminense x Atlético-PR
 Rodada 10:  São Paulo x Internacional
 Rodada 15: Atlético-PR x Vasco
Rodada 15: Ceará x Bahia
Rodada 20: Ceará x Santos
 Rodada 20: Chapecoense x Atlético-PR Rodada 28: Cruzeiro x Ceará

In [117]:
base_2017 = base_2017.drop(['PE', 'A', 'G', 'PP', 'I', 'GC', 'CV', 'DD', 'DP', 'GS', 'n_jogadores'], axis=1)

In [118]:
faltantes = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2017\\faltantes_2017.csv', sep=';')

In [119]:
faltantes.Clube.unique()

array(['Fluminense', 'Atlético-PR', 'Ponte Preta', 'Chapecoense',
       'Corinthians', 'Grêmio', 'Sport', 'Cruzeiro'], dtype=object)

In [120]:
base_2017 = base_2017.append(faltantes,ignore_index=True)
base_2017['FinC'] = base_2017.FD + base_2017.FT
base_2017['Finalizacoes'] = base_2017.FD + base_2017.FT + base_2017.FF

In [121]:
print(pd.crosstab(index=base_2017["Rodada"],  # Make a crosstab
                              columns='Ano'))

col_0   Ano
Rodada
1        20
2        20
3        20
4        20
5        20
6        20
7        20
8        20
9        20
10       20
11       20
12       20
13       20
14       20
15       20
16       20
17       20
18       20
19       20
20       20
21       20
22       20
23       20
24       20
25       20
26       20
27       20
28       20
29       20
30       20
31       20
32       20
33       20
34       20
35       20
36       20
37       20
38       20

In [122]:
base_2017.Clube.unique()

array(['Atlético-GO', 'Atlético-MG', 'Atlético-PR', 'Avaí', 'Bahia',
       'Botafogo', 'Chapecoense', 'Corinthians', 'Coritiba', 'Cruzeiro',
       'Flamengo', 'Fluminense', 'Grêmio', 'Palmeiras', 'Ponte Preta',
       'Santos', 'Sport', 'São Paulo', 'Vasco', 'Vitória'], dtype=object)

### Acrescentando rodadadas faltantes 2016

In [123]:
base_2016 = aux3[aux3.Ano==2016]

In [124]:
base_2016.describe()

,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
count,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000,748.000
mean,19.382,2016.000,14.511,31.469,0.829,0.239,3.172,4.671,1.176,1.913,0.032,12.328,15.357,0.025,2.233,0.115,1.386,0.024,1.202,13.533
std,10.977,0.000,4.430,7.920,0.950,0.491,2.050,2.394,1.096,1.647,0.184,4.773,4.516,0.157,1.412,0.343,1.274,0.153,1.098,0.659
min,1.000,2016.000,5.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,6.000,0.000,0.000,0.000,0.000,0.000,0.000,11.000
25%,10.000,2016.000,11.000,26.000,0.000,0.000,2.000,3.000,0.000,1.000,0.000,9.000,12.000,0.000,1.000,0.000,0.000,0.000,0.000,13.000
50%,19.000,2016.000,14.000,31.000,1.000,0.000,3.000,4.000,1.000,2.000,0.000,12.000,15.000,0.000,2.000,0.000,1.000,0.000,1.000,14.000
75%,29.000,2016.000,17.000,36.000,1.000,0.000,4.000,6.000,2.000,3.000,0.000,15.000,18.000,0.000,3.000,0.000,2.000,0.000,2.000,14.000
max,38.000,2016.000,29.000,59.000,5.000,3.000,11.000,14.000,5.000,10.000,2.000,30.000,30.000,1.000,7.000,3.000,6.000,1.000,5.000,16.000

In [125]:
#print(pd.crosstab(index=base_2016["Rodada"],  # Make a crosstab
#                              columns='Ano')) 
#print('Rodadas faltantes     Jogos faltantes\n','18 2 \n','19 2\n', '21 2\n', '32 2\n', '33 2')
base_2016[base_2016.Rodada==33]

,Clube,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
63,América-MG,33,2016,8.000,30.000,1.000,0.000,1.000,3.000,1.000,1.000,0.000,11.000,17.000,0.000,0.000,0.000,3.000,0.000,0.000,11
271,Atlético-MG,33,2016,13.000,33.000,1.000,0.000,4.000,5.000,2.000,4.000,0.000,12.000,12.000,0.000,0.000,0.000,3.000,0.000,2.000,13
455,Atlético-PR,33,2016,10.000,27.000,0.000,0.000,5.000,4.000,0.000,1.000,0.000,9.000,16.000,0.000,1.000,0.000,2.000,0.000,0.000,13
794,Botafogo,33,2016,17.000,30.000,0.000,0.000,8.000,6.000,0.000,3.000,0.000,20.000,13.000,0.000,5.000,0.000,1.000,0.000,0.000,14
1008,Chapecoense,33,2016,8.000,41.000,0.000,0.000,1.000,10.000,1.000,4.000,0.000,11.000,17.000,0.000,2.000,0.000,1.000,0.000,1.000,14
1193,Corinthians,33,2016,14.000,59.000,0.000,0.000,3.000,2.000,1.000,1.000,0.000,8.000,9.000,0.000,1.000,0.000,0.000,0.000,1.000,13
1349,Coritiba,33,2016,11.000,35.000,0.000,0.000,5.000,5.000,0.000,1.000,0.000,17.000,20.000,0.000,3.000,0.000,6.000,0.000,0.000,14
1567,Cruzeiro,33,2016,15.000,19.000,0.000,1.000,5.000,7.000,0.000,3.000,0.000,13.000,13.000,1.000,1.000,0.000,1.000,0.000,1.000,14
1688,Figueirense,33,2016,17.000,44.000,0.000,0.000,1.000,4.000,0.000,2.000,0.000,8.000,21.000,0.000,2.000,0.000,1.000,0.000,0.000,14
1864,Flamengo,33,2016,10.000,23.000,1.000,0.000,4.000,4.000,2.000,2.000,0.000,9.000,14.000,0.000,1.000,0.000,4.000,0.000,2.000,13
2049,Fluminense,33,2016,21.000,20.000,1.000,0.000,6.000,5.000,2.000,8.000,0.000,7.000,20.000,0.000,3.000,0.000,2.000,0.000,2.000,13
2308,Grêmio,33,2016,20.000,41.000,0.000,1.000,4.000,4.000,0.000,2.000,0.000,7.000,18.000,0.000,2.000,0.000,1.000,0.000,0.000,13
2462,Internacional,33,2016,10.000,39.000,1.000,0.000,5.000,6.000,1.000,3.000,0.000,12.000,15.000,0.000,2.000,1.000,0.000,0.000,1.000,14
2678,Palmeiras,33,2016,18.000,38.000,0.000,0.000,4.000,5.000,0.000,1.000,0.000,8.000,22.000,0.000,3.000,0.000,0.000,0.000,1.000,13
2883,Santa Cruz,33,2016,14.000,24.000,1.000,0.000,2.000,5.000,1.000,1.000,0.000,8.000,11.000,0.000,2.000,0.000,3.000,0.000,1.000,13
3047,Santos,33,2016,20.000,37.000,0.000,0.000,5.000,4.000,1.000,3.000,0.000,11.000,19.000,0.000,4.000,0.000,0.000,0.000,0.000,14
3417,São Paulo,33,2016,16.000,31.000,0.000,0.000,11.000,5.000,0.000,7.000,0.000,6.000,8.000,0.000,1.000,0.000,0.000,0.000,1.000,13
3681,Vitória,33,2016,20.000,26.000,2.000,0.000,3.000,7.000,2.000,2.000,0.000,10.000,22.000,0.000,2.000,0.000,3.000,0.000,2.000,14

In [126]:
base_2016.Clube.unique()

array(['América-MG', 'Atlético-MG', 'Atlético-PR', 'Botafogo',
       'Chapecoense', 'Corinthians', 'Coritiba', 'Cruzeiro',
       'Figueirense', 'Flamengo', 'Fluminense', 'Grêmio', 'Internacional',
       'Palmeiras', 'Ponte Preta', 'Santa Cruz', 'Santos', 'Sport',
       'São Paulo', 'Vitória'], dtype=object)

In [127]:
base_2016 = base_2016.drop(['PE', 'A', 'G', 'PP', 'I', 'GC', 'CV', 'DD', 'DP', 'GS', 'n_jogadores'], axis=1)

In [128]:
faltantes = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2016\\faltantes_2016.csv', sep=';', encoding='latin1')

In [129]:
base_2016 = base_2016.append(faltantes,ignore_index=True)
base_2016['FinC'] = base_2016.FD + base_2016.FT
base_2016['Finalizacoes'] = base_2016.FD + base_2016.FT + base_2016.FF

In [130]:
print(pd.crosstab(index=base_2016["Rodada"],  # Make a crosstab
                              columns='Ano')) 
# Jogo faltante é da chapecoense

col_0   Ano
Rodada
1        20
2        20
3        20
4        20
5        20
6        20
7        20
8        20
9        20
10       20
11       20
12       20
13       20
14       20
15       20
16       20
17       20
18       20
19       20
20       20
21       20
22       20
23       20
24       20
25       20
26       20
27       20
28       20
29       20
30       20
31       20
32       20
33       20
34       20
35       20
36       20
37       20
38       18

### Acrescentando rodadadas faltantes 2015

In [131]:
base_2015 = aux3[aux3.Ano==2015]

In [132]:
base_2015.describe()

,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
count,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000,710.000
mean,18.839,2015.000,14.144,32.655,0.835,0.237,3.245,4.675,1.203,2.128,0.028,13.462,14.944,0.035,2.479,0.146,1.468,0.020,1.228,13.890
std,10.773,0.000,5.199,9.367,0.950,0.487,1.974,2.303,1.160,1.845,0.166,5.238,5.414,0.184,1.539,0.399,1.273,0.139,1.193,0.382
min,1.000,2015.000,3.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,12.000
25%,10.000,2015.000,11.000,26.000,0.000,0.000,2.000,3.000,0.000,1.000,0.000,10.000,11.000,0.000,1.000,0.000,1.000,0.000,0.000,14.000
50%,19.000,2015.000,13.000,32.000,1.000,0.000,3.000,4.000,1.000,2.000,0.000,13.000,14.000,0.000,2.000,0.000,1.000,0.000,1.000,14.000
75%,28.750,2015.000,17.000,38.000,1.000,0.000,4.000,6.000,2.000,3.000,0.000,16.000,18.000,0.000,3.000,0.000,2.000,0.000,2.000,14.000
max,37.000,2015.000,34.000,72.000,6.000,3.000,11.000,14.000,7.000,11.000,1.000,42.000,40.000,1.000,10.000,3.000,8.000,1.000,7.000,17.000

In [133]:
#print(pd.crosstab(index=base_2015["Rodada"],  # Make a crosstab
#                              columns='Ano')) 
#print('Rodadas faltantes     Jogos faltantes\n','7 2 \n','8 2\n', '16 4\n', '35 2\n')
base_2015[base_2015.Rodada==26]

Empty DataFrame
Columns: [Clube, Rodada, Ano, FS, PE, A, FT, FD, FF, G, I, PP, RB, FC, GC, CA, CV, DD, DP, GS, n_jogadores]
Index: []

In [134]:
base_2015.Clube.unique()

array(['Atlético-MG', 'Atlético-PR', 'Avaí', 'Chapecoense', 'Corinthians',
       'Coritiba', 'Cruzeiro', 'Figueirense', 'Flamengo', 'Fluminense',
       'Goiás', 'Grêmio', 'Internacional', 'Joinville', 'Palmeiras',
       'Ponte Preta', 'Santos', 'Sport', 'São Paulo', 'Vasco'],
      dtype=object)

In [135]:
base_2015 = base_2015.drop(['PE', 'A', 'G', 'PP', 'I', 'GC', 'CV', 'DD', 'DP', 'GS', 'n_jogadores'], axis=1)

In [136]:
faltantes = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2015\\faltantes_2015.csv', sep=';', encoding='latin1')

In [137]:
base_2015 = base_2015.append(faltantes,ignore_index=True)
base_2015['FinC'] = base_2015.FD + base_2015.FT
base_2015['Finalizacoes'] = base_2015.FD + base_2015.FT + base_2015.FF

In [138]:
print(pd.crosstab(index=base_2015["Rodada"],  # Make a crosstab
                              columns='Ano'))

col_0   Ano
Rodada
1        20
2        20
3        20
4        20
5        20
6        20
7        20
8        20
9        20
10       20
11       20
12       20
13       20
14       20
15       20
16       20
17       20
18       20
19       20
20       20
21       20
22       20
23       20
24       20
25       20
26       20
27       20
28       20
29       20
30       20
31       20
32       20
33       20
34       20
35       20
36       20
37       20
38       20

### Acrescentando rodadadas faltantes 2014

In [139]:
base_2014 = aux3[aux3.Ano==2014]

In [140]:
base_2014.describe()

,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
count,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000,750.000
mean,19.544,2014.000,15.471,31.235,0.799,0.235,3.247,4.667,1.096,2.004,0.025,12.777,16.235,0.033,2.168,0.105,1.416,0.017,1.129,13.477
std,10.950,0.000,4.510,8.285,0.889,0.505,1.881,2.378,1.057,1.757,0.157,5.019,4.645,0.187,1.372,0.356,1.248,0.131,1.078,0.673
min,1.000,2014.000,3.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,11.000
25%,10.000,2014.000,12.000,25.000,0.000,0.000,2.000,3.000,0.000,1.000,0.000,9.000,13.000,0.000,1.000,0.000,0.000,0.000,0.000,13.000
50%,20.000,2014.000,15.000,31.000,1.000,0.000,3.000,4.000,1.000,2.000,0.000,12.000,16.000,0.000,2.000,0.000,1.000,0.000,1.000,14.000
75%,29.000,2014.000,18.000,37.000,1.000,0.000,4.000,6.000,2.000,3.000,0.000,16.000,19.000,0.000,3.000,0.000,2.000,0.000,2.000,14.000
max,38.000,2014.000,29.000,57.000,4.000,3.000,11.000,13.000,6.000,11.000,1.000,41.000,32.000,2.000,7.000,3.000,7.000,1.000,6.000,14.000

In [141]:
#print(pd.crosstab(index=base_2014["Rodada"],  # Make a crosstab
#                              columns='Ano')) 
#print('Rodadas faltantes     Jogos faltantes\n','5 4 \n','10 2\n', '26 2\n', '35 2\n')
base_2014[base_2014.Rodada==35]

,Clube,Rodada,Ano,FS,PE,A,FT,FD,FF,G,I,PP,RB,FC,GC,CA,CV,DD,DP,GS,n_jogadores
279,Atlético-MG,35,2014,12.000,32.000,2.000,1.000,5.000,5.000,4.000,4.000,0.000,13.000,16.000,0.000,2.000,0.000,0.000,0.000,0.000,14
463,Atlético-PR,35,2014,13.000,25.000,1.000,1.000,2.000,6.000,1.000,1.000,0.000,10.000,12.000,0.000,2.000,0.000,0.000,0.000,1.000,12
656,Bahia,35,2014,22.000,24.000,1.000,0.000,5.000,4.000,1.000,1.000,0.000,19.000,20.000,0.000,1.000,0.000,0.000,0.000,0.000,14
801,Botafogo,35,2014,26.000,31.000,0.000,0.000,3.000,9.000,0.000,2.000,1.000,9.000,14.000,0.000,0.000,0.000,2.000,0.000,1.000,14
1016,Chapecoense,35,2014,10.000,23.000,3.000,0.000,1.000,5.000,4.000,0.000,0.000,15.000,19.000,1.000,1.000,0.000,3.000,0.000,1.000,13
1201,Corinthians,35,2014,15.000,33.000,0.000,0.000,6.000,8.000,0.000,5.000,0.000,11.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,13
1355,Coritiba,35,2014,21.000,38.000,1.000,0.000,1.000,3.000,1.000,4.000,0.000,17.000,21.000,0.000,2.000,0.000,1.000,0.000,1.000,13
1404,Criciúma,35,2014,20.000,32.000,0.000,1.000,2.000,4.000,0.000,1.000,0.000,19.000,22.000,0.000,4.000,0.000,2.000,0.000,1.000,13
1575,Cruzeiro,35,2014,15.000,28.000,1.000,0.000,2.000,5.000,2.000,2.000,0.000,17.000,23.000,0.000,3.000,0.000,2.000,0.000,1.000,14
1692,Figueirense,35,2014,14.000,27.000,1.000,0.000,2.000,2.000,1.000,2.000,0.000,14.000,28.000,0.000,4.000,0.000,3.000,0.000,0.000,14
1872,Flamengo,35,2014,16.000,31.000,0.000,0.000,0.000,1.000,0.000,8.000,0.000,7.000,12.000,0.000,0.000,0.000,4.000,0.000,4.000,14
2057,Fluminense,35,2014,17.000,33.000,0.000,0.000,4.000,4.000,0.000,2.000,0.000,15.000,10.000,0.000,4.000,0.000,0.000,0.000,4.000,13
2142,Goiás,35,2014,9.000,36.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,14.000,15.000,1.000,2.000,0.000,3.000,0.000,1.000,13
2316,Grêmio,35,2014,23.000,39.000,0.000,1.000,3.000,2.000,1.000,2.000,0.000,10.000,15.000,0.000,4.000,0.000,1.000,0.000,2.000,13
2686,Palmeiras,35,2014,7.000,43.000,0.000,0.000,3.000,8.000,0.000,1.000,0.000,14.000,7.000,0.000,2.000,0.000,1.000,0.000,2.000,14
3055,Santos,35,2014,12.000,19.000,1.000,0.000,0.000,5.000,1.000,3.000,0.000,11.000,13.000,0.000,1.000,0.000,0.000,0.000,1.000,13
3240,Sport,35,2014,7.000,20.000,1.000,0.000,4.000,2.000,2.000,0.000,0.000,4.000,9.000,0.000,1.000,0.000,0.000,0.000,0.000,13
3688,Vitória,35,2014,20.000,56.000,1.000,0.000,2.000,3.000,1.000,1.000,0.000,13.000,23.000,0.000,3.000,0.000,1.000,0.000,1.000,14

In [142]:
base_2014.Clube.unique()

array(['Atlético-MG', 'Atlético-PR', 'Bahia', 'Botafogo', 'Chapecoense',
       'Corinthians', 'Coritiba', 'Criciúma', 'Cruzeiro', 'Figueirense',
       'Flamengo', 'Fluminense', 'Goiás', 'Grêmio', 'Internacional',
       'Palmeiras', 'Santos', 'Sport', 'São Paulo', 'Vitória'],
      dtype=object)

In [143]:
base_2014 = base_2014.drop(['PE', 'A', 'G', 'PP', 'I', 'GC', 'CV', 'DD', 'DP', 'GS', 'n_jogadores'], axis=1)

In [144]:
faltantes = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2014\\faltantes_2014.csv', sep=';', encoding='latin1')

In [145]:
base_2014 = base_2014.append(faltantes,ignore_index=True)
base_2014['FinC'] = base_2014.FD + base_2014.FT
base_2014['Finalizacoes'] = base_2014.FD + base_2014.FT + base_2014.FF

In [146]:
print(pd.crosstab(index=base_2014["Rodada"],  # Make a crosstab
                              columns='Ano'))

col_0   Ano
Rodada
1        20
2        20
3        20
4        20
5        20
6        20
7        20
8        20
9        20
10       20
11       20
12       20
13       20
14       20
15       20
16       20
17       20
18       20
19       20
20       20
21       20
22       20
23       20
24       20
25       20
26       20
27       20
28       20
29       20
30       20
31       20
32       20
33       20
34       20
35       20
36       20
37       20
38       20

### Base de scouts consolidada !!!

In [147]:
base_scouts_2014_2018 = pd.DataFrame()
for i in range(2014,2019):
    aux = 'base_'+str(i)
    base_scouts_2014_2018 = base_scouts_2014_2018.append(globals()[aux], ignore_index=True)
del(aux)

In [148]:
pd.crosstab(base_scouts_2014_2018.Rodada, columns=base_scouts_2014_2018.Ano)

Ano     2014  2015  2016  2017  2018
Rodada
1         20    20    20    20    20
2         20    20    20    20    20
3         20    20    20    20    20
4         20    20    20    20    20
5         20    20    20    20    20
6         20    20    20    20    20
7         20    20    20    20    20
8         20    20    20    20    20
9         20    20    20    20    20
10        20    20    20    20    20
11        20    20    20    20    20
12        20    20    20    20    20
13        20    20    20    20    20
14        20    20    20    20    20
15        20    20    20    20    20
16        20    20    20    20    20
17        20    20    20    20    20
18        20    20    20    20    20
19        20    20    20    20    20
20        20    20    20    20    20
21        20    20    20    20    20
22        20    20    20    20    20
23        20    20    20    20    20
24        20    20    20    20    20
25        20    20    20    20    20
26        20    20    20    20    20
27        20    20    20    20    20
28        20    20    20    20    20
29        20    20    20    20    20
30        20    20    20    20    20
31        20    20    20    20    20
32        20    20    20    20    20
33        20    20    20    20    20
34        20    20    20    20    20
35        20    20    20    20    20
36        20    20    20    20    20
37        20    20    20    20    20
38        20    20    18    20    20

In [149]:
list_name = ['FS','FT','FD','FF','RB','FC','CA']
base_scouts_2014_2018['scouts'] = base_scouts_2014_2018.loc[:,list_name].sum(axis=1)

In [150]:
base_scouts_2014_2018[base_scouts_2014_2018.scouts==0]

Empty DataFrame
Columns: [Clube, Rodada, Ano, FS, FT, FD, FF, RB, FC, CA, FinC, Finalizacoes, scouts]
Index: []

In [151]:
base_scouts_2014_2018[base_scouts_2014_2018.Finalizacoes==0]

,Clube,Rodada,Ano,FS,FT,FD,FF,RB,FC,CA,FinC,Finalizacoes,scouts
259,Coritiba,37,2014,13.000,0.000,0.000,0.000,8.000,13.000,4.000,0.000,0.000,38.000
697,São Paulo,23,2014,13.000,0.000,0.000,0.000,9.000,15.000,4.000,0.000,0.000,41.000
1909,Fluminense,17,2016,23.000,0.000,0.000,0.000,20.000,21.000,4.000,0.000,0.000,68.000
2148,Santos,32,2016,13.000,0.000,0.000,0.000,11.000,16.000,3.000,0.000,0.000,43.000
2390,Atlético-PR,38,2017,13.000,0.000,0.000,0.000,8.000,14.000,3.000,0.000,0.000,38.000
2549,Corinthians,8,2017,16.000,0.000,0.000,0.000,9.000,12.000,3.000,0.000,0.000,40.000
2855,Santos,17,2017,14.000,0.000,0.000,0.000,19.000,17.000,5.000,0.000,0.000,55.000
2875,Santos,37,2017,12.000,0.000,0.000,0.000,9.000,17.000,4.000,0.000,0.000,42.000
3053,América-MG,16,2018,9.000,0.000,0.000,0.000,10.000,12.000,2.000,0.000,0.000,33.000
3073,América-MG,36,2018,11.000,0.000,0.000,0.000,14.000,20.000,6.000,0.000,0.000,51.000

In [160]:
a = base_scouts_2014_2018.sample(8)

In [161]:
a.drop('scouts',axis=1,inplace=True)
a

,Clube,Rodada,Ano,FS,FT,FD,FF,RB,FC,CA,FinC,Finalizacoes
2559,Corinthians,18,2017,18.000,0.000,2.000,3.000,16.000,12.000,1.000,2.000,5.000
1546,América-MG,28,2016,13.000,0.000,0.000,6.000,10.000,15.000,2.000,0.000,6.000
227,Coritiba,5,2014,12.000,0.000,2.000,1.000,13.000,12.000,1.000,2.000,3.000
2639,Cruzeiro,23,2017,15.000,0.000,5.000,2.000,10.000,17.000,1.000,5.000,7.000
3266,Chapecoense,7,2018,20.000,1.000,4.000,5.000,19.000,14.000,1.000,5.000,10.000
3701,São Paulo,30,2018,13.000,2.000,5.000,5.000,20.000,20.000,3.000,7.000,12.000
2038,Palmeiras,34,2016,18.000,0.000,2.000,3.000,10.000,9.000,0.000,2.000,5.000
2527,Chapecoense,24,2017,6.000,0.000,4.000,2.000,20.000,18.000,5.000,4.000,6.000

In [153]:
1233012233112634d1as64da6 443912643

SyntaxError: invalid syntax (<ipython-input-153-c007ccde01f9>, line 1)


### Vamos adicionar informação da partida

In [ ]:
bra = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\dados\\Brasileiro\\Base_brasileirao.csv' , encoding='latin', sep=';')

In [ ]:
bra = bra[bra.ano>2013]

In [ ]:
bra.sample(8)

In [ ]:
bra.drop(['date', 'hour', 'arena', 'state', 'score'], axis = 1, inplace=True)
bra.rename(columns={'round': 'Rodada', 'ano': 'Ano'}, inplace=True)

### Mudar o padrão dos nomes dos clubes:
    - Todos clubes estão com - Estado de origem
    - O estado só será mantido nos clubes que se chamam Atlético

In [ ]:
def clubenome(x):
    x = x.replace(' - ', '-')
    a = x.split('-')
    if (a[0]=='Atlético')| (a[0]=='América'):
        return a[0]+'-'+ a[1]
    elif a[0]=='Vasco':
        return a[0]
        
    return a[0]

In [ ]:
#clubes_2014 = pd.read_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\2014\\2014_times.csv')
bra.home_team = bra.home_team.apply(lambda x: clubenome(x))
bra.away_team = bra.away_team.apply(lambda x: clubenome(x))

In [ ]:
bra.home_team.unique()

In [ ]:
bra.head(5)

In [ ]:
bra = bra.merge(base_scouts_2014_2018, right_on=['Clube', 'Rodada', 'Ano'], left_on=['home_team', 'Rodada', 'Ano'], how = 'left')
bra = bra.merge(base_scouts_2014_2018, right_on=['Clube', 'Rodada', 'Ano'], left_on=['away_team', 'Rodada', 'Ano'], suffixes=('_h','_a'), how= 'left')
bra.drop(['Clube_h','Clube_a','scouts_h','scouts_a'], axis = 1 , inplace=True)

In [ ]:
bra.head()

#### Tem clubes com mais gols que finalizações, vamos tratar o número min de finalizações certas sendo o n de gols

In [ ]:
def ajeitafinac(gols,finc):
    n = len (gols)
    result = []
    for i in range(0,n):
        if (finc.iloc[i]<gols.iloc[i]):
            result.append(gols.iloc[i])
        else:
            result.append(finc.iloc[i])
    return result

In [ ]:
result_h = ajeitafinac(bra.placar_casa, bra.FinC_h)
result_a = ajeitafinac(bra.placar_visitante, bra.FinC_a)
bra['FinC_h'] = result_h
bra['FinC_a'] = result_a
bra['Finalizacoes_h'] = bra.FinC_h + bra.FF_h
bra['Finalizacoes_a'] = bra.FinC_a + bra.FF_a
bra['Proporcao_C_h'] = bra.placar_casa/bra.FinC_h
bra['Proporcao_Tot_h'] = bra.placar_casa/bra.Finalizacoes_h
bra['Proporcao_C_a'] = bra.placar_visitante/bra.FinC_a
bra['Proporcao_Tot_a'] = bra.placar_visitante/bra.Finalizacoes_a
bra.fillna(0,inplace=True)

In [ ]:
bra[(bra.Ano==2015) & (bra.Rodada==26)]

In [ ]:
bra.head()

In [ ]:
print('Brasileirao', bra.shape)
print("Scouts", base_scouts_2014_2018.shape)
print('Falta o jogo da Chape de 2016 na última rodada, queda do avião')

In [ ]:
bra.head()

In [ ]:
def resultado_v(resultado):
    if resultado==1:
        return np.array([1,0,0])
    elif resultado==3:
        return np.array([0,0,1])
    else:
        return np.array([0,1,0])
bra['resultado_v'] = bra.resultado.apply(lambda x: resultado_v(x))

In [ ]:
bra.sample(5)

In [ ]:
bra.to_csv('D:\\Dropbox\\Projeto Brasileirao\\dissertacao\\base_pronta_2014_2018.csv',encoding='utf8',index=False)

In [ ]:
#base_scouts_2014_2018.to_csv('D:\\Dropbox\\Projeto Brasileirao\\caRtola\\data\\Scouts_time_completo.csv')